$color-add-ons-section-background: #000000;
$color-schemes-background: #141218;
$color-schemes-error: #ffb9b3;
$color-schemes-error-container: #cc7b74;
$color-schemes-inverse-on-surface: #2b292f;
$color-schemes-inverse-primary: #4e3f77;
$color-schemes-inverse-surface: #e6e0e9;
$color-schemes-on-background: #e6e0e9;
$color-schemes-on-error: #330405;
$color-schemes-on-error-container: #000000;
$color-schemes-on-primary: #1b0942;
$color-schemes-on-primary-container: #000000;
$color-schemes-on-primary-fixed: #16033d;
$color-schemes-on-primary-fixed-variant: #3c2d63;
$color-schemes-on-secondary: #1b0942;
$color-schemes-on-secondary-container: #000000;
$color-schemes-on-secondary-fixed: #16033d;
$color-schemes-on-secondary-fixed-variant: #3c2d63;
$color-schemes-on-surface: #fff9ff;
$color-schemes-on-surface-variant: #cec8d4;
$color-schemes-on-tertiary: #330218;
$color-schemes-on-tertiary-container: #000000;
$color-schemes-on-tertiary-fixed: #2b0013;
$color-schemes-on-tertiary-fixed-variant: #5b2238;
$color-schemes-outline: #a6a1ab;
$color-schemes-outline-variant: #86818b;
$color-schemes-primary: #d3c1ff;
$color-schemes-primary-container: #9887c5;
$color-schemes-primary-fixed: #e9ddff;
$color-schemes-primary-fixed-dim: #cfbdfe;
$color-schemes-scrim: #000000;
$color-schemes-secondary: #d3c1ff;
$color-schemes-secondary-container: #9887c5;
$color-schemes-secondary-fixed: #e9ddff;
$color-schemes-secondary-fixed-dim: #cfbdfe;
$color-schemes-shadow: #000000;
$color-schemes-surface: #141218;
$color-schemes-surface-bright: #3b383e;
$color-schemes-surface-container: #211f24;
$color-schemes-surface-container-high: #2b292f;
$color-schemes-surface-container-highest: #36343a;
$color-schemes-surface-container-low: #1d1b20;
$color-schemes-surface-container-lowest: #0f0d13;
$color-schemes-surface-dim: #141218;
$color-schemes-surface-tint: #cfbdfe;
$color-schemes-surface-variant: #49454e;
$color-schemes-tertiary: #ffb7cd;
$color-schemes-tertiary-container: #c57b93;
$color-schemes-tertiary-fixed: #ffd9e3;
$color-schemes-tertiary-fixed-dim: #ffb0c9;
$color-state-layers-background-opacity-08: rgba(20, 18, 24, 0.08);
$color-state-layers-background-opacity-10: rgba(20, 18, 24, 0.1);
$color-state-layers-background-opacity-16: rgba(20, 18, 24, 0.16);
$color-state-layers-error-opacity-08: rgba(255, 185, 179, 0.08);
$color-state-layers-error-opacity-10: rgba(255, 185, 179, 0.1);
$color-state-layers-error-opacity-16: rgba(255, 185, 179, 0.16);
$color-state-layers-error-container-opacity-08: rgba(204, 123, 116, 0.08);
$color-state-layers-error-container-opacity-10: rgba(204, 123, 116, 0.1);
$color-state-layers-error-container-opacity-16: rgba(204, 123, 116, 0.16);
$color-state-layers-inverse-on-surface-opacity-08: rgba(43, 41, 47, 0.08);
$color-state-layers-inverse-on-surface-opacity-10: rgba(43, 41, 47, 0.1);
$color-state-layers-inverse-on-surface-opacity-16: rgba(43, 41, 47, 0.16);
$color-state-layers-inverse-primary-opacity-08: rgba(78, 63, 119, 0.08);
$color-state-layers-inverse-primary-opacity-10: rgba(78, 63, 119, 0.1);
$color-state-layers-inverse-primary-opacity-16: rgba(78, 63, 119, 0.16);
$color-state-layers-inverse-surface-opacity-08: rgba(230, 224, 233, 0.08);
$color-state-layers-inverse-surface-opacity-10: rgba(230, 224, 233, 0.1);
$color-state-layers-inverse-surface-opacity-16: rgba(230, 224, 233, 0.16);
$color-state-layers-on-background-opacity-08: rgba(29, 27, 32, 0.08);
$color-state-layers-on-background-opacity-10: rgba(29, 27, 32, 0.1);
$color-state-layers-on-background-opacity-16: rgba(29, 27, 32, 0.16);
$color-state-layers-on-error-opacity-08: rgba(51, 4, 5, 0.08);
$color-state-layers-on-error-opacity-10: rgba(51, 4, 5, 0.1);
$color-state-layers-on-error-opacity-16: rgba(51, 4, 5, 0.16);
$color-state-layers-on-error-container-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-on-error-container-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-on-error-container-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-on-primary-opacity-08: rgba(27, 9, 66, 0.08);
$color-state-layers-on-primary-opacity-10: rgba(27, 9, 66, 0.1);
$color-state-layers-on-primary-opacity-16: rgba(27, 9, 66, 0.16);
$color-state-layers-on-primary-container-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-on-primary-container-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-on-primary-container-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-on-primary-fixed-opacity-08: rgba(22, 3, 61, 0.08);
$color-state-layers-on-primary-fixed-opacity-10: rgba(22, 3, 61, 0.1);
$color-state-layers-on-primary-fixed-opacity-16: rgba(22, 3, 61, 0.16);
$color-state-layers-on-primary-fixed-variant-opacity-08: rgba(60, 45, 99, 0.08);
$color-state-layers-on-primary-fixed-variant-opacity-10: rgba(60, 45, 99, 0.1);
$color-state-layers-on-primary-fixed-variant-opacity-16: rgba(60, 45, 99, 0.16);
$color-state-layers-on-secondary-opacity-08: rgba(27, 9, 66, 0.08);
$color-state-layers-on-secondary-opacity-10: rgba(27, 9, 66, 0.1);
$color-state-layers-on-secondary-opacity-16: rgba(27, 9, 66, 0.16);
$color-state-layers-on-secondary-container-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-on-secondary-container-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-on-secondary-container-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-on-secondary-fixed-opacity-08: rgba(22, 3, 61, 0.08);
$color-state-layers-on-secondary-fixed-opacity-10: rgba(22, 3, 61, 0.1);
$color-state-layers-on-secondary-fixed-opacity-16: rgba(22, 3, 61, 0.16);
$color-state-layers-on-secondary-fixed-variant-opacity-08: rgba(60, 45, 99, 0.08);
$color-state-layers-on-secondary-fixed-variant-opacity-10: rgba(60, 45, 99, 0.1);
$color-state-layers-on-secondary-fixed-variant-opacity-16: rgba(60, 45, 99, 0.16);
$color-state-layers-on-surface-opacity-08: rgba(255, 249, 255, 0.08);
$color-state-layers-on-surface-opacity-10: rgba(255, 249, 255, 0.1);
$color-state-layers-on-surface-opacity-16: rgba(255, 249, 255, 0.16);
$color-state-layers-on-surface-variant-opacity-08: rgba(206, 200, 212, 0.08);
$color-state-layers-on-surface-variant-opacity-10: rgba(206, 200, 212, 0.1);
$color-state-layers-on-surface-variant-opacity-16: rgba(206, 200, 212, 0.16);
$color-state-layers-on-tertiary-opacity-08: rgba(51, 2, 24, 0.08);
$color-state-layers-on-tertiary-opacity-10: rgba(51, 2, 24, 0.1);
$color-state-layers-on-tertiary-opacity-16: rgba(51, 2, 24, 0.16);
$color-state-layers-on-tertiary-container-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-on-tertiary-container-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-on-tertiary-container-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-on-tertiary-fixed-opacity-08: rgba(43, 0, 19, 0.08);
$color-state-layers-on-tertiary-fixed-opacity-10: rgba(43, 0, 19, 0.1);
$color-state-layers-on-tertiary-fixed-opacity-16: rgba(43, 0, 19, 0.16);
$color-state-layers-on-tertiary-fixed-variant-opacity-08: rgba(91, 34, 56, 0.08);
$color-state-layers-on-tertiary-fixed-variant-opacity-10: rgba(91, 34, 56, 0.1);
$color-state-layers-on-tertiary-fixed-variant-opacity-16: rgba(91, 34, 56, 0.16);
$color-state-layers-outline-opacity-08: rgba(166, 161, 171, 0.08);
$color-state-layers-outline-opacity-10: rgba(166, 161, 171, 0.1);
$color-state-layers-outline-opacity-16: rgba(166, 161, 171, 0.16);
$color-state-layers-outline-variant-opacity-08: rgba(134, 129, 139, 0.08);
$color-state-layers-outline-variant-opacity-10: rgba(134, 129, 139, 0.1);
$color-state-layers-outline-variant-opacity-16: rgba(134, 129, 139, 0.16);
$color-state-layers-primary-opacity-08: rgba(211, 193, 255, 0.08);
$color-state-layers-primary-opacity-10: rgba(211, 193, 255, 0.1);
$color-state-layers-primary-opacity-16: rgba(211, 193, 255, 0.16);
$color-state-layers-primary-container-opacity-08: rgba(152, 135, 197, 0.08);
$color-state-layers-primary-container-opacity-10: rgba(152, 135, 197, 0.1);
$color-state-layers-primary-container-opacity-16: rgba(152, 135, 197, 0.16);
$color-state-layers-primary-fixed-opacity-08: rgba(233, 221, 255, 0.08);
$color-state-layers-primary-fixed-opacity-10: rgba(233, 221, 255, 0.1);
$color-state-layers-primary-fixed-opacity-16: rgba(233, 221, 255, 0.16);
$color-state-layers-primary-fixed-dim-opacity-08: rgba(207, 189, 254, 0.08);
$color-state-layers-primary-fixed-dim-opacity-10: rgba(207, 189, 254, 0.1);
$color-state-layers-primary-fixed-dim-opacity-16: rgba(207, 189, 254, 0.16);
$color-state-layers-scrim-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-scrim-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-scrim-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-secondary-opacity-08: rgba(211, 193, 255, 0.08);
$color-state-layers-secondary-opacity-10: rgba(211, 193, 255, 0.1);
$color-state-layers-secondary-opacity-16: rgba(211, 193, 255, 0.16);
$color-state-layers-secondary-container-opacity-08: rgba(152, 135, 197, 0.08);
$color-state-layers-secondary-container-opacity-10: rgba(152, 135, 197, 0.1);
$color-state-layers-secondary-container-opacity-16: rgba(152, 135, 197, 0.16);
$color-state-layers-secondary-fixed-opacity-08: rgba(233, 221, 255, 0.08);
$color-state-layers-secondary-fixed-opacity-10: rgba(233, 221, 255, 0.1);
$color-state-layers-secondary-fixed-opacity-16: rgba(233, 221, 255, 0.16);
$color-state-layers-secondary-fixed-dim-opacity-08: rgba(207, 189, 254, 0.08);
$color-state-layers-secondary-fixed-dim-opacity-10: rgba(207, 189, 254, 0.1);
$color-state-layers-secondary-fixed-dim-opacity-16: rgba(207, 189, 254, 0.16);
$color-state-layers-shadow-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-shadow-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-shadow-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-surface-opacity-08: rgba(20, 18, 24, 0.08);
$color-state-layers-surface-opacity-10: rgba(20, 18, 24, 0.1);
$color-state-layers-surface-opacity-16: rgba(20, 18, 24, 0.16);
$color-state-layers-surface-bright-opacity-08: rgba(59, 56, 62, 0.08);
$color-state-layers-surface-bright-opacity-10: rgba(59, 56, 62, 0.1);
$color-state-layers-surface-bright-opacity-16: rgba(59, 56, 62, 0.16);
$color-state-layers-surface-container-opacity-08: rgba(33, 31, 36, 0.08);
$color-state-layers-surface-container-opacity-10: rgba(33, 31, 36, 0.1);
$color-state-layers-surface-container-opacity-16: rgba(33, 31, 36, 0.16);
$color-state-layers-surface-container-high-opacity-08: rgba(43, 41, 47, 0.08);
$color-state-layers-surface-container-high-opacity-10: rgba(43, 41, 47, 0.1);
$color-state-layers-surface-container-high-opacity-16: rgba(43, 41, 47, 0.16);
$color-state-layers-surface-container-highest-opacity-08: rgba(54, 52, 58, 0.08);
$color-state-layers-surface-container-highest-opacity-10: rgba(54, 52, 58, 0.1);
$color-state-layers-surface-container-highest-opacity-16: rgba(54, 52, 58, 0.16);
$color-state-layers-surface-container-low-opacity-08: rgba(29, 27, 32, 0.08);
$color-state-layers-surface-container-low-opacity-10: rgba(29, 27, 32, 0.1);
$color-state-layers-surface-container-low-opacity-16: rgba(29, 27, 32, 0.16);
$color-state-layers-surface-container-lowest-opacity-08: rgba(15, 13, 19, 0.08);
$color-state-layers-surface-container-lowest-opacity-10: rgba(15, 13, 19, 0.1);
$color-state-layers-surface-container-lowest-opacity-16: rgba(15, 13, 19, 0.16);
$color-state-layers-surface-dim-opacity-08: rgba(20, 18, 24, 0.08);
$color-state-layers-surface-dim-opacity-10: rgba(20, 18, 24, 0.1);
$color-state-layers-surface-dim-opacity-16: rgba(20, 18, 24, 0.16);
$color-state-layers-surface-tint-opacity-08: rgba(207, 189, 254, 0.08);
$color-state-layers-surface-tint-opacity-10: rgba(207, 189, 254, 0.1);
$color-state-layers-surface-tint-opacity-16: rgba(207, 189, 254, 0.16);
$color-state-layers-surface-variant-opacity-08: rgba(73, 69, 78, 0.08);
$color-state-layers-surface-variant-opacity-10: rgba(73, 69, 78, 0.1);
$color-state-layers-surface-variant-opacity-16: rgba(73, 69, 78, 0.16);
$color-state-layers-tertiary-opacity-08: rgba(255, 183, 205, 0.08);
$color-state-layers-tertiary-opacity-10: rgba(255, 183, 205, 0.1);
$color-state-layers-tertiary-opacity-16: rgba(255, 183, 205, 0.16);
$color-state-layers-tertiary-container-opacity-08: rgba(197, 123, 147, 0.08);
$color-state-layers-tertiary-container-opacity-10: rgba(197, 123, 147, 0.1);
$color-state-layers-tertiary-container-opacity-16: rgba(197, 123, 147, 0.16);
$color-state-layers-tertiary-fixed-opacity-08: rgba(255, 217, 227, 0.08);
$color-state-layers-tertiary-fixed-opacity-10: rgba(255, 217, 227, 0.1);
$color-state-layers-tertiary-fixed-opacity-16: rgba(255, 217, 227, 0.16);
$color-state-layers-tertiary-fixed-dim-opacity-08: rgba(255, 176, 201, 0.08);
$color-state-layers-tertiary-fixed-dim-opacity-10: rgba(255, 176, 201, 0.1);
$color-state-layers-tertiary-fixed-dim-opacity-16: rgba(255, 176, 201, 0.16);
