$color-add-ons-section-background: #f5f5f5;
$color-schemes-background: #fdf7ff;
$color-schemes-error: #b3261e;
$color-schemes-error-container: #f9dedc;
$color-schemes-inverse-on-surface: #e9efec;
$color-schemes-inverse-primary: #82d5c7;
$color-schemes-inverse-surface: #252b2a;
$color-schemes-on-background: #1d1b20;
$color-schemes-on-error: #ffffff;
$color-schemes-on-error-container: #8c1d18;
$color-schemes-on-primary: #ffffff;
$color-schemes-on-primary-container: #2e4c47;
$color-schemes-on-primary-fixed: #00201c;
$color-schemes-on-primary-fixed-variant: #2e4c47;
$color-schemes-on-secondary: #ffffff;
$color-schemes-on-secondary-container: #334b47;
$color-schemes-on-secondary-fixed: #06201c;
$color-schemes-on-secondary-fixed-variant: #334b47;
$color-schemes-on-surface: #171d1b;
$color-schemes-on-surface-variant: #3f4946;
$color-schemes-on-tertiary: #ffffff;
$color-schemes-on-tertiary-container: #30495d;
$color-schemes-on-tertiary-fixed: #001e30;
$color-schemes-on-tertiary-fixed-variant: #30495d;
$color-schemes-outline: #6f7976;
$color-schemes-outline-variant: #bec9c5;
$color-schemes-primary: #006b60;
$color-schemes-primary-container: #9ef2e3;
$color-schemes-primary-fixed: #9ef2e3;
$color-schemes-primary-fixed-dim: #82d5c7;
$color-schemes-scrim: #000000;
$color-schemes-secondary: #4b645f;
$color-schemes-secondary-container: #cae6df;
$color-schemes-secondary-fixed: #cae6df;
$color-schemes-secondary-fixed-dim: #b1ccc6;
$color-schemes-shadow: #000000;
$color-schemes-surface: #f4fbf8;
$color-schemes-surface-bright: #f4fbf8;
$color-schemes-surface-container: #e9efec;
$color-schemes-surface-container-high: #e3eae7;
$color-schemes-surface-container-highest: #dde4e1;
$color-schemes-surface-container-low: #eff5f2;
$color-schemes-surface-container-lowest: #ffffff;
$color-schemes-surface-dim: #d5dbd9;
$color-schemes-surface-tint: #006b60;
$color-schemes-surface-variant: #dde4e1;
$color-schemes-tertiary: #45627a;
$color-schemes-tertiary-container: #c5e3ff;
$color-schemes-tertiary-fixed: #c5e3ff;
$color-schemes-tertiary-fixed-dim: #accae5;
$color-state-layers-background-opacity-08: rgba(253, 247, 255, 0.08);
$color-state-layers-background-opacity-10: rgba(253, 247, 255, 0.1);
$color-state-layers-background-opacity-16: rgba(253, 247, 255, 0.16);
$color-state-layers-error-opacity-08: rgba(179, 38, 30, 0.08);
$color-state-layers-error-opacity-10: rgba(179, 38, 30, 0.1);
$color-state-layers-error-opacity-16: rgba(179, 38, 30, 0.16);
$color-state-layers-error-container-opacity-08: rgba(249, 222, 220, 0.08);
$color-state-layers-error-container-opacity-10: rgba(249, 222, 220, 0.1);
$color-state-layers-error-container-opacity-16: rgba(249, 222, 220, 0.16);
$color-state-layers-inverse-on-surface-opacity-08: rgba(233, 239, 236, 0.08);
$color-state-layers-inverse-on-surface-opacity-10: rgba(233, 239, 236, 0.1);
$color-state-layers-inverse-on-surface-opacity-16: rgba(233, 239, 236, 0.16);
$color-state-layers-inverse-primary-opacity-08: rgba(130, 213, 199, 0.08);
$color-state-layers-inverse-primary-opacity-10: rgba(130, 213, 199, 0.1);
$color-state-layers-inverse-primary-opacity-16: rgba(130, 213, 199, 0.16);
$color-state-layers-inverse-surface-opacity-08: rgba(37, 43, 42, 0.08);
$color-state-layers-inverse-surface-opacity-10: rgba(37, 43, 42, 0.1);
$color-state-layers-inverse-surface-opacity-16: rgba(37, 43, 42, 0.16);
$color-state-layers-on-background-opacity-08: rgba(29, 27, 32, 0.08);
$color-state-layers-on-background-opacity-10: rgba(29, 27, 32, 0.1);
$color-state-layers-on-background-opacity-16: rgba(29, 27, 32, 0.16);
$color-state-layers-on-error-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-error-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-error-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-error-container-opacity-08: rgba(140, 29, 24, 0.08);
$color-state-layers-on-error-container-opacity-10: rgba(140, 29, 24, 0.1);
$color-state-layers-on-error-container-opacity-16: rgba(140, 29, 24, 0.16);
$color-state-layers-on-primary-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-primary-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-primary-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-primary-container-opacity-08: rgba(46, 76, 71, 0.08);
$color-state-layers-on-primary-container-opacity-10: rgba(46, 76, 71, 0.1);
$color-state-layers-on-primary-container-opacity-16: rgba(46, 76, 71, 0.16);
$color-state-layers-on-primary-fixed-opacity-08: rgba(0, 32, 28, 0.08);
$color-state-layers-on-primary-fixed-opacity-10: rgba(0, 32, 28, 0.1);
$color-state-layers-on-primary-fixed-opacity-16: rgba(0, 32, 28, 0.16);
$color-state-layers-on-primary-fixed-variant-opacity-08: rgba(46, 76, 71, 0.08);
$color-state-layers-on-primary-fixed-variant-opacity-10: rgba(46, 76, 71, 0.1);
$color-state-layers-on-primary-fixed-variant-opacity-16: rgba(46, 76, 71, 0.16);
$color-state-layers-on-secondary-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-secondary-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-secondary-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-secondary-container-opacity-08: rgba(51, 75, 71, 0.08);
$color-state-layers-on-secondary-container-opacity-10: rgba(51, 75, 71, 0.1);
$color-state-layers-on-secondary-container-opacity-16: rgba(51, 75, 71, 0.16);
$color-state-layers-on-secondary-fixed-opacity-08: rgba(6, 32, 28, 0.08);
$color-state-layers-on-secondary-fixed-opacity-10: rgba(6, 32, 28, 0.1);
$color-state-layers-on-secondary-fixed-opacity-16: rgba(6, 32, 28, 0.16);
$color-state-layers-on-secondary-fixed-variant-opacity-08: rgba(51, 75, 71, 0.08);
$color-state-layers-on-secondary-fixed-variant-opacity-10: rgba(51, 75, 71, 0.1);
$color-state-layers-on-secondary-fixed-variant-opacity-16: rgba(51, 75, 71, 0.16);
$color-state-layers-on-surface-opacity-08: rgba(23, 29, 27, 0.08);
$color-state-layers-on-surface-opacity-10: rgba(23, 29, 27, 0.1);
$color-state-layers-on-surface-opacity-16: rgba(23, 29, 27, 0.16);
$color-state-layers-on-surface-variant-opacity-08: rgba(63, 73, 70, 0.08);
$color-state-layers-on-surface-variant-opacity-10: rgba(63, 73, 70, 0.1);
$color-state-layers-on-surface-variant-opacity-16: rgba(63, 73, 70, 0.16);
$color-state-layers-on-tertiary-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-tertiary-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-tertiary-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-tertiary-container-opacity-08: rgba(48, 73, 93, 0.08);
$color-state-layers-on-tertiary-container-opacity-10: rgba(48, 73, 93, 0.1);
$color-state-layers-on-tertiary-container-opacity-16: rgba(48, 73, 93, 0.16);
$color-state-layers-on-tertiary-fixed-opacity-08: rgba(0, 30, 48, 0.08);
$color-state-layers-on-tertiary-fixed-opacity-10: rgba(0, 30, 48, 0.1);
$color-state-layers-on-tertiary-fixed-opacity-16: rgba(0, 30, 48, 0.16);
$color-state-layers-on-tertiary-fixed-variant-opacity-08: rgba(48, 73, 93, 0.08);
$color-state-layers-on-tertiary-fixed-variant-opacity-10: rgba(48, 73, 93, 0.1);
$color-state-layers-on-tertiary-fixed-variant-opacity-16: rgba(48, 73, 93, 0.16);
$color-state-layers-outline-opacity-08: rgba(111, 121, 118, 0.08);
$color-state-layers-outline-opacity-10: rgba(111, 121, 118, 0.1);
$color-state-layers-outline-opacity-16: rgba(111, 121, 118, 0.16);
$color-state-layers-outline-variant-opacity-08: rgba(190, 201, 197, 0.08);
$color-state-layers-outline-variant-opacity-10: rgba(190, 201, 197, 0.1);
$color-state-layers-outline-variant-opacity-16: rgba(190, 201, 197, 0.16);
$color-state-layers-primary-opacity-08: rgba(0, 107, 96, 0.08);
$color-state-layers-primary-opacity-10: rgba(0, 107, 96, 0.1);
$color-state-layers-primary-opacity-16: rgba(0, 107, 96, 0.16);
$color-state-layers-primary-container-opacity-08: rgba(158, 242, 227, 0.08);
$color-state-layers-primary-container-opacity-10: rgba(158, 242, 227, 0.1);
$color-state-layers-primary-container-opacity-16: rgba(158, 242, 227, 0.16);
$color-state-layers-primary-fixed-opacity-08: rgba(158, 242, 227, 0.08);
$color-state-layers-primary-fixed-opacity-10: rgba(158, 242, 227, 0.1);
$color-state-layers-primary-fixed-opacity-16: rgba(158, 242, 227, 0.16);
$color-state-layers-primary-fixed-dim-opacity-08: rgba(130, 213, 199, 0.08);
$color-state-layers-primary-fixed-dim-opacity-10: rgba(130, 213, 199, 0.1);
$color-state-layers-primary-fixed-dim-opacity-16: rgba(130, 213, 199, 0.16);
$color-state-layers-scrim-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-scrim-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-scrim-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-secondary-opacity-08: rgba(75, 100, 95, 0.08);
$color-state-layers-secondary-opacity-10: rgba(75, 100, 95, 0.1);
$color-state-layers-secondary-opacity-16: rgba(75, 100, 95, 0.16);
$color-state-layers-secondary-container-opacity-08: rgba(202, 230, 223, 0.08);
$color-state-layers-secondary-container-opacity-10: rgba(202, 230, 223, 0.1);
$color-state-layers-secondary-container-opacity-16: rgba(202, 230, 223, 0.16);
$color-state-layers-secondary-fixed-opacity-08: rgba(202, 230, 223, 0.08);
$color-state-layers-secondary-fixed-opacity-10: rgba(202, 230, 223, 0.1);
$color-state-layers-secondary-fixed-opacity-16: rgba(202, 230, 223, 0.16);
$color-state-layers-secondary-fixed-dim-opacity-08: rgba(177, 204, 198, 0.08);
$color-state-layers-secondary-fixed-dim-opacity-10: rgba(177, 204, 198, 0.1);
$color-state-layers-secondary-fixed-dim-opacity-16: rgba(177, 204, 198, 0.16);
$color-state-layers-shadow-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-shadow-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-shadow-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-surface-opacity-08: rgba(244, 251, 248, 0.08);
$color-state-layers-surface-opacity-10: rgba(244, 251, 248, 0.1);
$color-state-layers-surface-opacity-16: rgba(244, 251, 248, 0.16);
$color-state-layers-surface-bright-opacity-08: rgba(244, 251, 248, 0.08);
$color-state-layers-surface-bright-opacity-10: rgba(244, 251, 248, 0.1);
$color-state-layers-surface-bright-opacity-16: rgba(244, 251, 248, 0.16);
$color-state-layers-surface-container-opacity-08: rgba(233, 239, 236, 0.08);
$color-state-layers-surface-container-opacity-10: rgba(233, 239, 236, 0.1);
$color-state-layers-surface-container-opacity-16: rgba(233, 239, 236, 0.16);
$color-state-layers-surface-container-high-opacity-08: rgba(227, 234, 231, 0.08);
$color-state-layers-surface-container-high-opacity-10: rgba(227, 234, 231, 0.1);
$color-state-layers-surface-container-high-opacity-16: rgba(227, 234, 231, 0.16);
$color-state-layers-surface-container-highest-opacity-08: rgba(221, 228, 225, 0.08);
$color-state-layers-surface-container-highest-opacity-10: rgba(221, 228, 225, 0.1);
$color-state-layers-surface-container-highest-opacity-16: rgba(221, 228, 225, 0.16);
$color-state-layers-surface-container-low-opacity-08: rgba(239, 245, 242, 0.08);
$color-state-layers-surface-container-low-opacity-10: rgba(239, 245, 242, 0.1);
$color-state-layers-surface-container-low-opacity-16: rgba(239, 245, 242, 0.16);
$color-state-layers-surface-container-lowest-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-surface-container-lowest-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-surface-container-lowest-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-surface-dim-opacity-08: rgba(213, 219, 217, 0.08);
$color-state-layers-surface-dim-opacity-10: rgba(213, 219, 217, 0.1);
$color-state-layers-surface-dim-opacity-16: rgba(213, 219, 217, 0.16);
$color-state-layers-surface-tint-opacity-08: rgba(0, 107, 96, 0.08);
$color-state-layers-surface-tint-opacity-10: rgba(0, 107, 96, 0.1);
$color-state-layers-surface-tint-opacity-16: rgba(0, 107, 96, 0.16);
$color-state-layers-surface-variant-opacity-08: rgba(221, 228, 225, 0.08);
$color-state-layers-surface-variant-opacity-10: rgba(221, 228, 225, 0.1);
$color-state-layers-surface-variant-opacity-16: rgba(221, 228, 225, 0.16);
$color-state-layers-tertiary-opacity-08: rgba(69, 98, 122, 0.08);
$color-state-layers-tertiary-opacity-10: rgba(69, 98, 122, 0.1);
$color-state-layers-tertiary-opacity-16: rgba(69, 98, 122, 0.16);
$color-state-layers-tertiary-container-opacity-08: rgba(197, 227, 255, 0.08);
$color-state-layers-tertiary-container-opacity-10: rgba(197, 227, 255, 0.1);
$color-state-layers-tertiary-container-opacity-16: rgba(197, 227, 255, 0.16);
$color-state-layers-tertiary-fixed-opacity-08: rgba(197, 227, 255, 0.08);
$color-state-layers-tertiary-fixed-opacity-10: rgba(197, 227, 255, 0.1);
$color-state-layers-tertiary-fixed-opacity-16: rgba(197, 227, 255, 0.16);
$color-state-layers-tertiary-fixed-dim-opacity-08: rgba(172, 202, 229, 0.08);
$color-state-layers-tertiary-fixed-dim-opacity-10: rgba(172, 202, 229, 0.1);
$color-state-layers-tertiary-fixed-dim-opacity-16: rgba(172, 202, 229, 0.16);
