$color-add-ons-section-background: #f5f5f5;
$color-schemes-background: #fdf7ff;
$color-schemes-error: #b3261e;
$color-schemes-error-container: #f9dedc;
$color-schemes-inverse-on-surface: #faeaee;
$color-schemes-inverse-primary: #feb0d1;
$color-schemes-inverse-surface: #30282b;
$color-schemes-on-background: #1d1b20;
$color-schemes-on-error: #ffffff;
$color-schemes-on-error-container: #8c1d18;
$color-schemes-on-primary: #ffffff;
$color-schemes-on-primary-container: #6e334f;
$color-schemes-on-primary-fixed: #390723;
$color-schemes-on-primary-fixed-variant: #6e334f;
$color-schemes-on-secondary: #ffffff;
$color-schemes-on-secondary-container: #593f4b;
$color-schemes-on-secondary-fixed: #2a151f;
$color-schemes-on-secondary-fixed-variant: #593f4b;
$color-schemes-on-surface: #21191c;
$color-schemes-on-surface-variant: #504348;
$color-schemes-on-tertiary: #ffffff;
$color-schemes-on-tertiary-container: #633e24;
$color-schemes-on-tertiary-fixed: #301401;
$color-schemes-on-tertiary-fixed-variant: #633e24;
$color-schemes-outline: #827378;
$color-schemes-outline-variant: #d4c2c7;
$color-schemes-primary: #8a4b68;
$color-schemes-primary-container: #feb0d1;
$color-schemes-primary-fixed: #feb0d1;
$color-schemes-primary-fixed-dim: #e095b5;
$color-schemes-scrim: #000000;
$color-schemes-secondary: #735762;
$color-schemes-secondary-container: #fbd6e3;
$color-schemes-secondary-fixed: #fbd6e3;
$color-schemes-secondary-fixed-dim: #e1bdca;
$color-schemes-shadow: #000000;
$color-schemes-surface: #fff8f8;
$color-schemes-surface-bright: #fff8f8;
$color-schemes-surface-container: #faeaee;
$color-schemes-surface-container-high: #f4e4e8;
$color-schemes-surface-container-highest: #eedfe3;
$color-schemes-surface-container-low: #fff0f4;
$color-schemes-surface-container-lowest: #ffffff;
$color-schemes-surface-dim: #e5d6da;
$color-schemes-surface-tint: #8a4b68;
$color-schemes-surface-variant: #eedfe3;
$color-schemes-tertiary: #7f5639;
$color-schemes-tertiary-container: #fec6a2;
$color-schemes-tertiary-fixed: #fec6a2;
$color-schemes-tertiary-fixed-dim: #e0ab88;
$color-state-layers-background-opacity-08: rgba(253, 247, 255, 0.08);
$color-state-layers-background-opacity-10: rgba(253, 247, 255, 0.1);
$color-state-layers-background-opacity-16: rgba(253, 247, 255, 0.16);
$color-state-layers-error-opacity-08: rgba(179, 38, 30, 0.08);
$color-state-layers-error-opacity-10: rgba(179, 38, 30, 0.1);
$color-state-layers-error-opacity-16: rgba(179, 38, 30, 0.16);
$color-state-layers-error-container-opacity-08: rgba(249, 222, 220, 0.08);
$color-state-layers-error-container-opacity-10: rgba(249, 222, 220, 0.1);
$color-state-layers-error-container-opacity-16: rgba(249, 222, 220, 0.16);
$color-state-layers-inverse-on-surface-opacity-08: rgba(250, 234, 238, 0.08);
$color-state-layers-inverse-on-surface-opacity-10: rgba(250, 234, 238, 0.1);
$color-state-layers-inverse-on-surface-opacity-16: rgba(250, 234, 238, 0.16);
$color-state-layers-inverse-primary-opacity-08: rgba(254, 176, 209, 0.08);
$color-state-layers-inverse-primary-opacity-10: rgba(254, 176, 209, 0.1);
$color-state-layers-inverse-primary-opacity-16: rgba(254, 176, 209, 0.16);
$color-state-layers-inverse-surface-opacity-08: rgba(48, 40, 43, 0.08);
$color-state-layers-inverse-surface-opacity-10: rgba(48, 40, 43, 0.1);
$color-state-layers-inverse-surface-opacity-16: rgba(48, 40, 43, 0.16);
$color-state-layers-on-background-opacity-08: rgba(29, 27, 32, 0.08);
$color-state-layers-on-background-opacity-10: rgba(29, 27, 32, 0.1);
$color-state-layers-on-background-opacity-16: rgba(29, 27, 32, 0.16);
$color-state-layers-on-error-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-error-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-error-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-error-container-opacity-08: rgba(140, 29, 24, 0.08);
$color-state-layers-on-error-container-opacity-10: rgba(140, 29, 24, 0.1);
$color-state-layers-on-error-container-opacity-16: rgba(140, 29, 24, 0.16);
$color-state-layers-on-primary-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-primary-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-primary-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-primary-container-opacity-08: rgba(110, 51, 79, 0.08);
$color-state-layers-on-primary-container-opacity-10: rgba(110, 51, 79, 0.1);
$color-state-layers-on-primary-container-opacity-16: rgba(110, 51, 79, 0.16);
$color-state-layers-on-primary-fixed-opacity-08: rgba(57, 7, 35, 0.08);
$color-state-layers-on-primary-fixed-opacity-10: rgba(57, 7, 35, 0.1);
$color-state-layers-on-primary-fixed-opacity-16: rgba(57, 7, 35, 0.16);
$color-state-layers-on-primary-fixed-variant-opacity-08: rgba(110, 51, 79, 0.08);
$color-state-layers-on-primary-fixed-variant-opacity-10: rgba(110, 51, 79, 0.1);
$color-state-layers-on-primary-fixed-variant-opacity-16: rgba(110, 51, 79, 0.16);
$color-state-layers-on-secondary-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-secondary-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-secondary-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-secondary-container-opacity-08: rgba(89, 63, 75, 0.08);
$color-state-layers-on-secondary-container-opacity-10: rgba(89, 63, 75, 0.1);
$color-state-layers-on-secondary-container-opacity-16: rgba(89, 63, 75, 0.16);
$color-state-layers-on-secondary-fixed-opacity-08: rgba(42, 21, 31, 0.08);
$color-state-layers-on-secondary-fixed-opacity-10: rgba(42, 21, 31, 0.1);
$color-state-layers-on-secondary-fixed-opacity-16: rgba(42, 21, 31, 0.16);
$color-state-layers-on-secondary-fixed-variant-opacity-08: rgba(89, 63, 75, 0.08);
$color-state-layers-on-secondary-fixed-variant-opacity-10: rgba(89, 63, 75, 0.1);
$color-state-layers-on-secondary-fixed-variant-opacity-16: rgba(89, 63, 75, 0.16);
$color-state-layers-on-surface-opacity-08: rgba(33, 25, 28, 0.08);
$color-state-layers-on-surface-opacity-10: rgba(33, 25, 28, 0.1);
$color-state-layers-on-surface-opacity-16: rgba(33, 25, 28, 0.16);
$color-state-layers-on-surface-variant-opacity-08: rgba(80, 67, 72, 0.08);
$color-state-layers-on-surface-variant-opacity-10: rgba(80, 67, 72, 0.1);
$color-state-layers-on-surface-variant-opacity-16: rgba(80, 67, 72, 0.16);
$color-state-layers-on-tertiary-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-tertiary-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-tertiary-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-tertiary-container-opacity-08: rgba(99, 62, 36, 0.08);
$color-state-layers-on-tertiary-container-opacity-10: rgba(99, 62, 36, 0.1);
$color-state-layers-on-tertiary-container-opacity-16: rgba(99, 62, 36, 0.16);
$color-state-layers-on-tertiary-fixed-opacity-08: rgba(48, 20, 1, 0.08);
$color-state-layers-on-tertiary-fixed-opacity-10: rgba(48, 20, 1, 0.1);
$color-state-layers-on-tertiary-fixed-opacity-16: rgba(48, 20, 1, 0.16);
$color-state-layers-on-tertiary-fixed-variant-opacity-08: rgba(99, 62, 36, 0.08);
$color-state-layers-on-tertiary-fixed-variant-opacity-10: rgba(99, 62, 36, 0.1);
$color-state-layers-on-tertiary-fixed-variant-opacity-16: rgba(99, 62, 36, 0.16);
$color-state-layers-outline-opacity-08: rgba(130, 115, 120, 0.08);
$color-state-layers-outline-opacity-10: rgba(130, 115, 120, 0.1);
$color-state-layers-outline-opacity-16: rgba(130, 115, 120, 0.16);
$color-state-layers-outline-variant-opacity-08: rgba(212, 194, 199, 0.08);
$color-state-layers-outline-variant-opacity-10: rgba(212, 194, 199, 0.1);
$color-state-layers-outline-variant-opacity-16: rgba(212, 194, 199, 0.16);
$color-state-layers-primary-opacity-08: rgba(138, 75, 104, 0.08);
$color-state-layers-primary-opacity-10: rgba(138, 75, 104, 0.1);
$color-state-layers-primary-opacity-16: rgba(138, 75, 104, 0.16);
$color-state-layers-primary-container-opacity-08: rgba(254, 176, 209, 0.08);
$color-state-layers-primary-container-opacity-10: rgba(212, 212, 223, 0.1);
$color-state-layers-primary-container-opacity-16: rgba(254, 176, 209, 0.16);
$color-state-layers-primary-fixed-opacity-08: rgba(254, 176, 209, 0.08);
$color-state-layers-primary-fixed-opacity-10: rgba(254, 176, 209, 0.1);
$color-state-layers-primary-fixed-opacity-16: rgba(254, 176, 209, 0.16);
$color-state-layers-primary-fixed-dim-opacity-08: rgba(224, 149, 181, 0.08);
$color-state-layers-primary-fixed-dim-opacity-10: rgba(224, 149, 181, 0.1);
$color-state-layers-primary-fixed-dim-opacity-16: rgba(224, 149, 181, 0.16);
$color-state-layers-scrim-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-scrim-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-scrim-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-secondary-opacity-08: rgba(115, 87, 98, 0.08);
$color-state-layers-secondary-opacity-10: rgba(115, 87, 98, 0.1);
$color-state-layers-secondary-opacity-16: rgba(115, 87, 98, 0.16);
$color-state-layers-secondary-container-opacity-08: rgba(251, 214, 227, 0.08);
$color-state-layers-secondary-container-opacity-10: rgba(251, 214, 227, 0.1);
$color-state-layers-secondary-container-opacity-16: rgba(251, 214, 227, 0.16);
$color-state-layers-secondary-fixed-opacity-08: rgba(251, 214, 227, 0.08);
$color-state-layers-secondary-fixed-opacity-10: rgba(251, 214, 227, 0.1);
$color-state-layers-secondary-fixed-opacity-16: rgba(251, 214, 227, 0.16);
$color-state-layers-secondary-fixed-dim-opacity-08: rgba(225, 189, 202, 0.08);
$color-state-layers-secondary-fixed-dim-opacity-10: rgba(225, 189, 202, 0.1);
$color-state-layers-secondary-fixed-dim-opacity-16: rgba(225, 189, 202, 0.16);
$color-state-layers-shadow-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-shadow-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-shadow-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-surface-opacity-08: rgba(255, 248, 248, 0.08);
$color-state-layers-surface-opacity-10: rgba(255, 248, 248, 0.1);
$color-state-layers-surface-opacity-16: rgba(255, 248, 248, 0.16);
$color-state-layers-surface-bright-opacity-08: rgba(255, 248, 248, 0.08);
$color-state-layers-surface-bright-opacity-10: rgba(255, 248, 248, 0.1);
$color-state-layers-surface-bright-opacity-16: rgba(255, 248, 248, 0.16);
$color-state-layers-surface-container-opacity-08: rgba(250, 234, 238, 0.08);
$color-state-layers-surface-container-opacity-10: rgba(250, 234, 238, 0.1);
$color-state-layers-surface-container-opacity-16: rgba(250, 234, 238, 0.16);
$color-state-layers-surface-container-high-opacity-08: rgba(244, 228, 232, 0.08);
$color-state-layers-surface-container-high-opacity-10: rgba(244, 228, 232, 0.1);
$color-state-layers-surface-container-high-opacity-16: rgba(244, 228, 232, 0.16);
$color-state-layers-surface-container-highest-opacity-08: rgba(238, 223, 227, 0.08);
$color-state-layers-surface-container-highest-opacity-10: rgba(238, 223, 227, 0.1);
$color-state-layers-surface-container-highest-opacity-16: rgba(238, 223, 227, 0.16);
$color-state-layers-surface-container-low-opacity-08: rgba(255, 240, 244, 0.08);
$color-state-layers-surface-container-low-opacity-10: rgba(255, 240, 244, 0.1);
$color-state-layers-surface-container-low-opacity-16: rgba(255, 240, 244, 0.16);
$color-state-layers-surface-container-lowest-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-surface-container-lowest-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-surface-container-lowest-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-surface-dim-opacity-08: rgba(229, 214, 218, 0.08);
$color-state-layers-surface-dim-opacity-10: rgba(229, 214, 218, 0.1);
$color-state-layers-surface-dim-opacity-16: rgba(229, 214, 218, 0.16);
$color-state-layers-surface-tint-opacity-08: rgba(138, 75, 104, 0.08);
$color-state-layers-surface-tint-opacity-10: rgba(138, 75, 104, 0.1);
$color-state-layers-surface-tint-opacity-16: rgba(138, 75, 104, 0.16);
$color-state-layers-surface-variant-opacity-08: rgba(238, 223, 227, 0.08);
$color-state-layers-surface-variant-opacity-10: rgba(238, 223, 227, 0.1);
$color-state-layers-surface-variant-opacity-16: rgba(238, 223, 227, 0.16);
$color-state-layers-tertiary-opacity-08: rgba(127, 86, 57, 0.08);
$color-state-layers-tertiary-opacity-10: rgba(127, 86, 57, 0.1);
$color-state-layers-tertiary-opacity-16: rgba(127, 86, 57, 0.16);
$color-state-layers-tertiary-container-opacity-08: rgba(254, 198, 162, 0.08);
$color-state-layers-tertiary-container-opacity-10: rgba(254, 198, 162, 0.1);
$color-state-layers-tertiary-container-opacity-16: rgba(254, 198, 162, 0.16);
$color-state-layers-tertiary-fixed-opacity-08: rgba(254, 198, 162, 0.08);
$color-state-layers-tertiary-fixed-opacity-10: rgba(254, 198, 162, 0.1);
$color-state-layers-tertiary-fixed-opacity-16: rgba(254, 198, 162, 0.16);
$color-state-layers-tertiary-fixed-dim-opacity-08: rgba(224, 171, 136, 0.08);
$color-state-layers-tertiary-fixed-dim-opacity-10: rgba(224, 171, 136, 0.1);
$color-state-layers-tertiary-fixed-dim-opacity-16: rgba(224, 171, 136, 0.16);
