$color-add-ons-section-background: #f5f5f5;
$color-schemes-background: #fdf7ff;
$color-schemes-error: #b3261e;
$color-schemes-error-container: #f9dedc;
$color-schemes-inverse-on-surface: #ebefe7;
$color-schemes-inverse-primary: #9cd49f;
$color-schemes-inverse-surface: #272b26;
$color-schemes-on-background: #1d1b20;
$color-schemes-on-error: #ffffff;
$color-schemes-on-error-container: #8c1d18;
$color-schemes-on-primary: #ffffff;
$color-schemes-on-primary-container: #2d4e30;
$color-schemes-on-primary-fixed: #002108;
$color-schemes-on-primary-fixed-variant: #2d4e30;
$color-schemes-on-secondary: #ffffff;
$color-schemes-on-secondary-container: #3a4b3a;
$color-schemes-on-secondary-fixed: #0f1f11;
$color-schemes-on-secondary-fixed-variant: #3a4b3a;
$color-schemes-on-surface: #181d18;
$color-schemes-on-surface-variant: #424940;
$color-schemes-on-tertiary: #ffffff;
$color-schemes-on-tertiary-container: #2f4b51;
$color-schemes-on-tertiary-fixed: #001f24;
$color-schemes-on-tertiary-fixed-variant: #2f4b51;
$color-schemes-outline: #717970;
$color-schemes-outline-variant: #c1c9be;
$color-schemes-primary: #376a3e;
$color-schemes-primary-container: #b7f1b9;
$color-schemes-primary-fixed: #b7f1b9;
$color-schemes-primary-fixed-dim: #9cd49e;
$color-schemes-scrim: #000000;
$color-schemes-secondary: #526451;
$color-schemes-secondary-container: #d1e5ce;
$color-schemes-secondary-fixed: #d1e5ce;
$color-schemes-secondary-fixed-dim: #b8ccb6;
$color-schemes-shadow: #000000;
$color-schemes-surface: #f7fbf2;
$color-schemes-surface-bright: #f7fbf2;
$color-schemes-surface-container: #ebefe7;
$color-schemes-surface-container-high: #e5e9e1;
$color-schemes-surface-container-highest: #e0e4db;
$color-schemes-surface-container-low: #f1f5ec;
$color-schemes-surface-container-lowest: #ffffff;
$color-schemes-surface-dim: #d7dbd3;
$color-schemes-surface-tint: #376a3e;
$color-schemes-surface-variant: #e0e4db;
$color-schemes-tertiary: #3a666d;
$color-schemes-tertiary-container: #bae8f0;
$color-schemes-tertiary-fixed: #bae8f0;
$color-schemes-tertiary-fixed-dim: #a1ced6;
$color-state-layers-background-opacity-08: rgba(253, 247, 255, 0.08);
$color-state-layers-background-opacity-10: rgba(253, 247, 255, 0.1);
$color-state-layers-background-opacity-16: rgba(253, 247, 255, 0.16);
$color-state-layers-error-opacity-08: rgba(179, 38, 30, 0.08);
$color-state-layers-error-opacity-10: rgba(179, 38, 30, 0.1);
$color-state-layers-error-opacity-16: rgba(179, 38, 30, 0.16);
$color-state-layers-error-container-opacity-08: rgba(249, 222, 220, 0.08);
$color-state-layers-error-container-opacity-10: rgba(249, 222, 220, 0.1);
$color-state-layers-error-container-opacity-16: rgba(249, 222, 220, 0.16);
$color-state-layers-inverse-on-surface-opacity-08: rgba(235, 239, 231, 0.08);
$color-state-layers-inverse-on-surface-opacity-10: rgba(235, 239, 231, 0.1);
$color-state-layers-inverse-on-surface-opacity-16: rgba(235, 239, 231, 0.16);
$color-state-layers-inverse-primary-opacity-08: rgba(156, 212, 159, 0.08);
$color-state-layers-inverse-primary-opacity-10: rgba(156, 212, 159, 0.1);
$color-state-layers-inverse-primary-opacity-16: rgba(156, 212, 159, 0.16);
$color-state-layers-inverse-surface-opacity-08: rgba(39, 43, 38, 0.08);
$color-state-layers-inverse-surface-opacity-10: rgba(39, 43, 38, 0.1);
$color-state-layers-inverse-surface-opacity-16: rgba(39, 43, 38, 0.16);
$color-state-layers-on-background-opacity-08: rgba(29, 27, 32, 0.08);
$color-state-layers-on-background-opacity-10: rgba(29, 27, 32, 0.1);
$color-state-layers-on-background-opacity-16: rgba(29, 27, 32, 0.16);
$color-state-layers-on-error-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-error-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-error-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-error-container-opacity-08: rgba(140, 29, 24, 0.08);
$color-state-layers-on-error-container-opacity-10: rgba(140, 29, 24, 0.1);
$color-state-layers-on-error-container-opacity-16: rgba(140, 29, 24, 0.16);
$color-state-layers-on-primary-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-primary-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-primary-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-primary-container-opacity-08: rgba(45, 78, 48, 0.08);
$color-state-layers-on-primary-container-opacity-10: rgba(45, 78, 48, 0.1);
$color-state-layers-on-primary-container-opacity-16: rgba(45, 78, 48, 0.16);
$color-state-layers-on-primary-fixed-opacity-08: rgba(0, 33, 8, 0.08);
$color-state-layers-on-primary-fixed-opacity-10: rgba(0, 33, 8, 0.1);
$color-state-layers-on-primary-fixed-opacity-16: rgba(0, 33, 8, 0.16);
$color-state-layers-on-primary-fixed-variant-opacity-08: rgba(45, 78, 48, 0.08);
$color-state-layers-on-primary-fixed-variant-opacity-10: rgba(45, 78, 48, 0.1);
$color-state-layers-on-primary-fixed-variant-opacity-16: rgba(45, 78, 48, 0.16);
$color-state-layers-on-secondary-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-secondary-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-secondary-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-secondary-container-opacity-08: rgba(58, 75, 58, 0.08);
$color-state-layers-on-secondary-container-opacity-10: rgba(58, 75, 58, 0.1);
$color-state-layers-on-secondary-container-opacity-16: rgba(58, 75, 58, 0.16);
$color-state-layers-on-secondary-fixed-opacity-08: rgba(15, 31, 17, 0.08);
$color-state-layers-on-secondary-fixed-opacity-10: rgba(15, 31, 17, 0.1);
$color-state-layers-on-secondary-fixed-opacity-16: rgba(15, 31, 17, 0.16);
$color-state-layers-on-secondary-fixed-variant-opacity-08: rgba(58, 75, 58, 0.08);
$color-state-layers-on-secondary-fixed-variant-opacity-10: rgba(58, 75, 58, 0.1);
$color-state-layers-on-secondary-fixed-variant-opacity-16: rgba(58, 75, 58, 0.16);
$color-state-layers-on-surface-opacity-08: rgba(24, 29, 24, 0.08);
$color-state-layers-on-surface-opacity-10: rgba(24, 29, 24, 0.1);
$color-state-layers-on-surface-opacity-16: rgba(24, 29, 24, 0.16);
$color-state-layers-on-surface-variant-opacity-08: rgba(66, 73, 64, 0.08);
$color-state-layers-on-surface-variant-opacity-10: rgba(66, 73, 64, 0.1);
$color-state-layers-on-surface-variant-opacity-16: rgba(66, 73, 64, 0.16);
$color-state-layers-on-tertiary-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-tertiary-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-tertiary-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-tertiary-container-opacity-08: rgba(47, 75, 81, 0.08);
$color-state-layers-on-tertiary-container-opacity-10: rgba(47, 75, 81, 0.1);
$color-state-layers-on-tertiary-container-opacity-16: rgba(47, 75, 81, 0.16);
$color-state-layers-on-tertiary-fixed-opacity-08: rgba(0, 31, 36, 0.08);
$color-state-layers-on-tertiary-fixed-opacity-10: rgba(0, 31, 36, 0.1);
$color-state-layers-on-tertiary-fixed-opacity-16: rgba(0, 31, 36, 0.16);
$color-state-layers-on-tertiary-fixed-variant-opacity-08: rgba(47, 75, 81, 0.08);
$color-state-layers-on-tertiary-fixed-variant-opacity-10: rgba(47, 75, 81, 0.1);
$color-state-layers-on-tertiary-fixed-variant-opacity-16: rgba(47, 75, 81, 0.16);
$color-state-layers-outline-opacity-08: rgba(113, 121, 112, 0.08);
$color-state-layers-outline-opacity-10: rgba(113, 121, 112, 0.1);
$color-state-layers-outline-opacity-16: rgba(113, 121, 112, 0.16);
$color-state-layers-outline-variant-opacity-08: rgba(193, 201, 190, 0.08);
$color-state-layers-outline-variant-opacity-10: rgba(193, 201, 190, 0.1);
$color-state-layers-outline-variant-opacity-16: rgba(193, 201, 190, 0.16);
$color-state-layers-primary-opacity-08: rgba(55, 106, 62, 0.08);
$color-state-layers-primary-opacity-10: rgba(55, 106, 62, 0.1);
$color-state-layers-primary-opacity-16: rgba(55, 106, 62, 0.16);
$color-state-layers-primary-container-opacity-08: rgba(183, 241, 185, 0.08);
$color-state-layers-primary-container-opacity-10: rgba(183, 241, 185, 0.1);
$color-state-layers-primary-container-opacity-16: rgba(183, 241, 185, 0.16);
$color-state-layers-primary-fixed-opacity-08: rgba(183, 241, 185, 0.08);
$color-state-layers-primary-fixed-opacity-10: rgba(183, 241, 185, 0.1);
$color-state-layers-primary-fixed-opacity-16: rgba(183, 241, 185, 0.16);
$color-state-layers-primary-fixed-dim-opacity-08: rgba(156, 212, 158, 0.08);
$color-state-layers-primary-fixed-dim-opacity-10: rgba(156, 212, 158, 0.1);
$color-state-layers-primary-fixed-dim-opacity-16: rgba(156, 212, 158, 0.16);
$color-state-layers-scrim-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-scrim-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-scrim-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-secondary-opacity-08: rgba(82, 100, 81, 0.08);
$color-state-layers-secondary-opacity-10: rgba(82, 100, 81, 0.1);
$color-state-layers-secondary-opacity-16: rgba(82, 100, 81, 0.16);
$color-state-layers-secondary-container-opacity-08: rgba(209, 229, 206, 0.08);
$color-state-layers-secondary-container-opacity-10: rgba(209, 229, 206, 0.1);
$color-state-layers-secondary-container-opacity-16: rgba(209, 229, 206, 0.16);
$color-state-layers-secondary-fixed-opacity-08: rgba(209, 229, 206, 0.08);
$color-state-layers-secondary-fixed-opacity-10: rgba(209, 229, 206, 0.1);
$color-state-layers-secondary-fixed-opacity-16: rgba(209, 229, 206, 0.16);
$color-state-layers-secondary-fixed-dim-opacity-08: rgba(184, 204, 182, 0.08);
$color-state-layers-secondary-fixed-dim-opacity-10: rgba(184, 204, 182, 0.1);
$color-state-layers-secondary-fixed-dim-opacity-16: rgba(184, 204, 182, 0.16);
$color-state-layers-shadow-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-shadow-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-shadow-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-surface-opacity-08: rgba(247, 251, 242, 0.08);
$color-state-layers-surface-opacity-10: rgba(247, 251, 242, 0.1);
$color-state-layers-surface-opacity-16: rgba(247, 251, 242, 0.16);
$color-state-layers-surface-bright-opacity-08: rgba(247, 251, 242, 0.08);
$color-state-layers-surface-bright-opacity-10: rgba(247, 251, 242, 0.1);
$color-state-layers-surface-bright-opacity-16: rgba(247, 251, 242, 0.16);
$color-state-layers-surface-container-opacity-08: rgba(235, 239, 231, 0.08);
$color-state-layers-surface-container-opacity-10: rgba(235, 239, 231, 0.1);
$color-state-layers-surface-container-opacity-16: rgba(235, 239, 231, 0.16);
$color-state-layers-surface-container-high-opacity-08: rgba(229, 233, 225, 0.08);
$color-state-layers-surface-container-high-opacity-10: rgba(229, 233, 225, 0.1);
$color-state-layers-surface-container-high-opacity-16: rgba(229, 233, 225, 0.16);
$color-state-layers-surface-container-highest-opacity-08: rgba(224, 228, 219, 0.08);
$color-state-layers-surface-container-highest-opacity-10: rgba(224, 228, 219, 0.1);
$color-state-layers-surface-container-highest-opacity-16: rgba(224, 228, 219, 0.16);
$color-state-layers-surface-container-low-opacity-08: rgba(241, 245, 236, 0.08);
$color-state-layers-surface-container-low-opacity-10: rgba(241, 245, 236, 0.1);
$color-state-layers-surface-container-low-opacity-16: rgba(241, 245, 236, 0.16);
$color-state-layers-surface-container-lowest-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-surface-container-lowest-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-surface-container-lowest-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-surface-dim-opacity-08: rgba(215, 219, 211, 0.08);
$color-state-layers-surface-dim-opacity-10: rgba(215, 219, 211, 0.1);
$color-state-layers-surface-dim-opacity-16: rgba(215, 219, 211, 0.16);
$color-state-layers-surface-tint-opacity-08: rgba(55, 106, 62, 0.08);
$color-state-layers-surface-tint-opacity-10: rgba(55, 106, 62, 0.1);
$color-state-layers-surface-tint-opacity-16: rgba(55, 106, 62, 0.16);
$color-state-layers-surface-variant-opacity-08: rgba(224, 228, 219, 0.08);
$color-state-layers-surface-variant-opacity-10: rgba(224, 228, 219, 0.1);
$color-state-layers-surface-variant-opacity-16: rgba(224, 228, 219, 0.16);
$color-state-layers-tertiary-opacity-08: rgba(58, 102, 109, 0.08);
$color-state-layers-tertiary-opacity-10: rgba(58, 102, 109, 0.1);
$color-state-layers-tertiary-opacity-16: rgba(58, 102, 109, 0.16);
$color-state-layers-tertiary-container-opacity-08: rgba(186, 232, 240, 0.08);
$color-state-layers-tertiary-container-opacity-10: rgba(186, 232, 240, 0.1);
$color-state-layers-tertiary-container-opacity-16: rgba(186, 232, 240, 0.16);
$color-state-layers-tertiary-fixed-opacity-08: rgba(186, 232, 240, 0.08);
$color-state-layers-tertiary-fixed-opacity-10: rgba(186, 232, 240, 0.1);
$color-state-layers-tertiary-fixed-opacity-16: rgba(186, 232, 240, 0.16);
$color-state-layers-tertiary-fixed-dim-opacity-08: rgba(161, 206, 214, 0.08);
$color-state-layers-tertiary-fixed-dim-opacity-10: rgba(161, 206, 214, 0.1);
$color-state-layers-tertiary-fixed-dim-opacity-16: rgba(161, 206, 214, 0.16);
