$color-add-ons-section-background: #f5f5f5;
$color-schemes-background: #fdf7ff;
$color-schemes-error: #b3261e;
$color-schemes-error-container: #f9dedc;
$color-schemes-inverse-on-surface: #f0eee1;
$color-schemes-inverse-primary: #c3cd7c;
$color-schemes-inverse-surface: #2a2b22;
$color-schemes-on-background: #1d1b20;
$color-schemes-on-error: #ffffff;
$color-schemes-on-error-container: #8c1d18;
$color-schemes-on-primary: #ffffff;
$color-schemes-on-primary-container: #454a23;
$color-schemes-on-primary-fixed: #1a1e00;
$color-schemes-on-primary-fixed-variant: #454a23;
$color-schemes-on-secondary: #ffffff;
$color-schemes-on-secondary-container: #46492f;
$color-schemes-on-secondary-fixed: #1a1d07;
$color-schemes-on-secondary-fixed-variant: #46492f;
$color-schemes-on-surface: #1b1c14;
$color-schemes-on-surface-variant: #47483b;
$color-schemes-on-tertiary: #ffffff;
$color-schemes-on-tertiary-container: #2e4d44;
$color-schemes-on-tertiary-fixed: #002019;
$color-schemes-on-tertiary-fixed-variant: #2e4d44;
$color-schemes-outline: #78786a;
$color-schemes-outline-variant: #c8c7b7;
$color-schemes-primary: #5c641e;
$color-schemes-primary-container: #dde692;
$color-schemes-primary-fixed: #dde692;
$color-schemes-primary-fixed-dim: #c1ca79;
$color-schemes-scrim: #000000;
$color-schemes-secondary: #5e6145;
$color-schemes-secondary-container: #e3e5c1;
$color-schemes-secondary-fixed: #e3e5c1;
$color-schemes-secondary-fixed-dim: #c7c9a6;
$color-schemes-shadow: #000000;
$color-schemes-surface: #fcfaed;
$color-schemes-surface-bright: #fcfaed;
$color-schemes-surface-container: #f0eee1;
$color-schemes-surface-container-high: #eae9dc;
$color-schemes-surface-container-highest: #e5e3d6;
$color-schemes-surface-container-low: #f6f4e7;
$color-schemes-surface-container-lowest: #ffffff;
$color-schemes-surface-dim: #dcdace;
$color-schemes-surface-tint: #5c641e;
$color-schemes-surface-variant: #e5e3d6;
$color-schemes-tertiary: #3c675b;
$color-schemes-tertiary-container: #bbe9da;
$color-schemes-tertiary-fixed: #bbe9da;
$color-schemes-tertiary-fixed-dim: #a3d0c1;
$color-state-layers-background-opacity-08: rgba(253, 247, 255, 0.08);
$color-state-layers-background-opacity-10: rgba(253, 247, 255, 0.1);
$color-state-layers-background-opacity-16: rgba(253, 247, 255, 0.16);
$color-state-layers-error-opacity-08: rgba(179, 38, 30, 0.08);
$color-state-layers-error-opacity-10: rgba(179, 38, 30, 0.1);
$color-state-layers-error-opacity-16: rgba(179, 38, 30, 0.16);
$color-state-layers-error-container-opacity-08: rgba(249, 222, 220, 0.08);
$color-state-layers-error-container-opacity-10: rgba(249, 222, 220, 0.1);
$color-state-layers-error-container-opacity-16: rgba(249, 222, 220, 0.16);
$color-state-layers-inverse-on-surface-opacity-08: rgba(240, 238, 225, 0.08);
$color-state-layers-inverse-on-surface-opacity-10: rgba(240, 238, 225, 0.1);
$color-state-layers-inverse-on-surface-opacity-16: rgba(240, 238, 225, 0.16);
$color-state-layers-inverse-primary-opacity-08: rgba(195, 205, 124, 0.08);
$color-state-layers-inverse-primary-opacity-10: rgba(195, 205, 124, 0.1);
$color-state-layers-inverse-primary-opacity-16: rgba(195, 205, 124, 0.16);
$color-state-layers-inverse-surface-opacity-08: rgba(42, 43, 34, 0.08);
$color-state-layers-inverse-surface-opacity-10: rgba(42, 43, 34, 0.1);
$color-state-layers-inverse-surface-opacity-16: rgba(42, 43, 34, 0.16);
$color-state-layers-on-background-opacity-08: rgba(29, 27, 32, 0.08);
$color-state-layers-on-background-opacity-10: rgba(29, 27, 32, 0.1);
$color-state-layers-on-background-opacity-16: rgba(29, 27, 32, 0.16);
$color-state-layers-on-error-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-error-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-error-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-error-container-opacity-08: rgba(140, 29, 24, 0.08);
$color-state-layers-on-error-container-opacity-10: rgba(140, 29, 24, 0.1);
$color-state-layers-on-error-container-opacity-16: rgba(140, 29, 24, 0.16);
$color-state-layers-on-primary-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-primary-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-primary-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-primary-container-opacity-08: rgba(69, 74, 35, 0.08);
$color-state-layers-on-primary-container-opacity-10: rgba(69, 74, 35, 0.1);
$color-state-layers-on-primary-container-opacity-16: rgba(69, 74, 35, 0.16);
$color-state-layers-on-primary-fixed-opacity-08: rgba(26, 30, 0, 0.08);
$color-state-layers-on-primary-fixed-opacity-10: rgba(26, 30, 0, 0.1);
$color-state-layers-on-primary-fixed-opacity-16: rgba(26, 30, 0, 0.16);
$color-state-layers-on-primary-fixed-variant-opacity-08: rgba(69, 74, 35, 0.08);
$color-state-layers-on-primary-fixed-variant-opacity-10: rgba(69, 74, 35, 0.1);
$color-state-layers-on-primary-fixed-variant-opacity-16: rgba(69, 74, 35, 0.16);
$color-state-layers-on-secondary-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-secondary-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-secondary-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-secondary-container-opacity-08: rgba(70, 73, 47, 0.08);
$color-state-layers-on-secondary-container-opacity-10: rgba(70, 73, 47, 0.1);
$color-state-layers-on-secondary-container-opacity-16: rgba(70, 73, 47, 0.16);
$color-state-layers-on-secondary-fixed-opacity-08: rgba(26, 29, 7, 0.08);
$color-state-layers-on-secondary-fixed-opacity-10: rgba(26, 29, 7, 0.1);
$color-state-layers-on-secondary-fixed-opacity-16: rgba(26, 29, 7, 0.16);
$color-state-layers-on-secondary-fixed-variant-opacity-08: rgba(70, 73, 47, 0.08);
$color-state-layers-on-secondary-fixed-variant-opacity-10: rgba(70, 73, 47, 0.1);
$color-state-layers-on-secondary-fixed-variant-opacity-16: rgba(70, 73, 47, 0.16);
$color-state-layers-on-surface-opacity-08: rgba(27, 28, 20, 0.08);
$color-state-layers-on-surface-opacity-10: rgba(27, 28, 20, 0.1);
$color-state-layers-on-surface-opacity-16: rgba(27, 28, 20, 0.16);
$color-state-layers-on-surface-variant-opacity-08: rgba(71, 72, 59, 0.08);
$color-state-layers-on-surface-variant-opacity-10: rgba(71, 72, 59, 0.1);
$color-state-layers-on-surface-variant-opacity-16: rgba(71, 72, 59, 0.16);
$color-state-layers-on-tertiary-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-tertiary-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-tertiary-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-tertiary-container-opacity-08: rgba(46, 77, 68, 0.08);
$color-state-layers-on-tertiary-container-opacity-10: rgba(46, 77, 68, 0.1);
$color-state-layers-on-tertiary-container-opacity-16: rgba(46, 77, 68, 0.16);
$color-state-layers-on-tertiary-fixed-opacity-08: rgba(0, 32, 25, 0.08);
$color-state-layers-on-tertiary-fixed-opacity-10: rgba(0, 32, 25, 0.1);
$color-state-layers-on-tertiary-fixed-opacity-16: rgba(0, 32, 25, 0.16);
$color-state-layers-on-tertiary-fixed-variant-opacity-08: rgba(46, 77, 68, 0.08);
$color-state-layers-on-tertiary-fixed-variant-opacity-10: rgba(46, 77, 68, 0.1);
$color-state-layers-on-tertiary-fixed-variant-opacity-16: rgba(46, 77, 68, 0.16);
$color-state-layers-outline-opacity-08: rgba(120, 120, 106, 0.08);
$color-state-layers-outline-opacity-10: rgba(120, 120, 106, 0.1);
$color-state-layers-outline-opacity-16: rgba(120, 120, 106, 0.16);
$color-state-layers-outline-variant-opacity-08: rgba(200, 199, 183, 0.08);
$color-state-layers-outline-variant-opacity-10: rgba(200, 199, 183, 0.1);
$color-state-layers-outline-variant-opacity-16: rgba(200, 199, 183, 0.16);
$color-state-layers-primary-opacity-08: rgba(92, 100, 30, 0.08);
$color-state-layers-primary-opacity-10: rgba(92, 100, 30, 0.1);
$color-state-layers-primary-opacity-16: rgba(92, 100, 30, 0.16);
$color-state-layers-primary-container-opacity-08: rgba(221, 230, 146, 0.08);
$color-state-layers-primary-container-opacity-10: rgba(221, 230, 146, 0.1);
$color-state-layers-primary-container-opacity-16: rgba(221, 230, 146, 0.16);
$color-state-layers-primary-fixed-opacity-08: rgba(221, 230, 146, 0.08);
$color-state-layers-primary-fixed-opacity-10: rgba(221, 230, 146, 0.1);
$color-state-layers-primary-fixed-opacity-16: rgba(221, 230, 146, 0.16);
$color-state-layers-primary-fixed-dim-opacity-08: rgba(193, 202, 121, 0.08);
$color-state-layers-primary-fixed-dim-opacity-10: rgba(193, 202, 121, 0.1);
$color-state-layers-primary-fixed-dim-opacity-16: rgba(193, 202, 121, 0.16);
$color-state-layers-scrim-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-scrim-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-scrim-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-secondary-opacity-08: rgba(94, 97, 69, 0.08);
$color-state-layers-secondary-opacity-10: rgba(94, 97, 69, 0.1);
$color-state-layers-secondary-opacity-16: rgba(94, 97, 69, 0.16);
$color-state-layers-secondary-container-opacity-08: rgba(227, 229, 193, 0.08);
$color-state-layers-secondary-container-opacity-10: rgba(227, 229, 193, 0.1);
$color-state-layers-secondary-container-opacity-16: rgba(227, 229, 193, 0.16);
$color-state-layers-secondary-fixed-opacity-08: rgba(227, 229, 193, 0.08);
$color-state-layers-secondary-fixed-opacity-10: rgba(227, 229, 193, 0.1);
$color-state-layers-secondary-fixed-opacity-16: rgba(227, 229, 193, 0.16);
$color-state-layers-secondary-fixed-dim-opacity-08: rgba(199, 201, 166, 0.08);
$color-state-layers-secondary-fixed-dim-opacity-10: rgba(199, 201, 166, 0.1);
$color-state-layers-secondary-fixed-dim-opacity-16: rgba(199, 201, 166, 0.16);
$color-state-layers-shadow-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-shadow-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-shadow-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-surface-opacity-08: rgba(252, 250, 237, 0.08);
$color-state-layers-surface-opacity-10: rgba(252, 250, 237, 0.1);
$color-state-layers-surface-opacity-16: rgba(252, 250, 237, 0.16);
$color-state-layers-surface-bright-opacity-08: rgba(252, 250, 237, 0.08);
$color-state-layers-surface-bright-opacity-10: rgba(252, 250, 237, 0.1);
$color-state-layers-surface-bright-opacity-16: rgba(252, 250, 237, 0.16);
$color-state-layers-surface-container-opacity-08: rgba(240, 238, 225, 0.08);
$color-state-layers-surface-container-opacity-10: rgba(240, 238, 225, 0.1);
$color-state-layers-surface-container-opacity-16: rgba(240, 238, 225, 0.16);
$color-state-layers-surface-container-high-opacity-08: rgba(234, 233, 220, 0.08);
$color-state-layers-surface-container-high-opacity-10: rgba(234, 233, 220, 0.1);
$color-state-layers-surface-container-high-opacity-16: rgba(234, 233, 220, 0.16);
$color-state-layers-surface-container-highest-opacity-08: rgba(229, 227, 214, 0.08);
$color-state-layers-surface-container-highest-opacity-10: rgba(229, 227, 214, 0.1);
$color-state-layers-surface-container-highest-opacity-16: rgba(229, 227, 214, 0.16);
$color-state-layers-surface-container-low-opacity-08: rgba(246, 244, 231, 0.08);
$color-state-layers-surface-container-low-opacity-10: rgba(246, 244, 231, 0.1);
$color-state-layers-surface-container-low-opacity-16: rgba(246, 244, 231, 0.16);
$color-state-layers-surface-container-lowest-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-surface-container-lowest-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-surface-container-lowest-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-surface-dim-opacity-08: rgba(220, 218, 206, 0.08);
$color-state-layers-surface-dim-opacity-10: rgba(220, 218, 206, 0.1);
$color-state-layers-surface-dim-opacity-16: rgba(220, 218, 206, 0.16);
$color-state-layers-surface-tint-opacity-08: rgba(92, 100, 30, 0.08);
$color-state-layers-surface-tint-opacity-10: rgba(92, 100, 30, 0.1);
$color-state-layers-surface-tint-opacity-16: rgba(92, 100, 30, 0.16);
$color-state-layers-surface-variant-opacity-08: rgba(229, 227, 214, 0.08);
$color-state-layers-surface-variant-opacity-10: rgba(229, 227, 214, 0.1);
$color-state-layers-surface-variant-opacity-16: rgba(229, 227, 214, 0.16);
$color-state-layers-tertiary-opacity-08: rgba(60, 103, 91, 0.08);
$color-state-layers-tertiary-opacity-10: rgba(60, 103, 91, 0.1);
$color-state-layers-tertiary-opacity-16: rgba(60, 103, 91, 0.16);
$color-state-layers-tertiary-container-opacity-08: rgba(187, 233, 218, 0.08);
$color-state-layers-tertiary-container-opacity-10: rgba(187, 233, 218, 0.1);
$color-state-layers-tertiary-container-opacity-16: rgba(187, 233, 218, 0.16);
$color-state-layers-tertiary-fixed-opacity-08: rgba(187, 233, 218, 0.08);
$color-state-layers-tertiary-fixed-opacity-10: rgba(187, 233, 218, 0.1);
$color-state-layers-tertiary-fixed-opacity-16: rgba(187, 233, 218, 0.16);
$color-state-layers-tertiary-fixed-dim-opacity-08: rgba(163, 208, 193, 0.08);
$color-state-layers-tertiary-fixed-dim-opacity-10: rgba(163, 208, 193, 0.1);
$color-state-layers-tertiary-fixed-dim-opacity-16: rgba(163, 208, 193, 0.16);
