$color-add-ons-section-background: #f5f5f5;
$color-schemes-background: #fdf7ff;
$color-schemes-error: #b3261e;
$color-schemes-error-container: #f9dedc;
$color-schemes-inverse-on-surface: #f3ecf4;
$color-schemes-inverse-primary: #d6bbfb;
$color-schemes-inverse-surface: #2c292f;
$color-schemes-on-background: #1d1b20;
$color-schemes-on-error: #ffffff;
$color-schemes-on-error-container: #8c1d18;
$color-schemes-on-primary: #ffffff;
$color-schemes-on-primary-container: #523c72;
$color-schemes-on-primary-fixed: #250e44;
$color-schemes-on-primary-fixed-variant: #523c72;
$color-schemes-on-secondary: #ffffff;
$color-schemes-on-secondary-container: #4c4357;
$color-schemes-on-secondary-fixed: #20182a;
$color-schemes-on-secondary-fixed-variant: #4c4357;
$color-schemes-on-surface: #1d1a20;
$color-schemes-on-surface-variant: #4a454e;
$color-schemes-on-tertiary: #ffffff;
$color-schemes-on-tertiary-container: #653a44;
$color-schemes-on-tertiary-fixed: #321019;
$color-schemes-on-tertiary-fixed-variant: #653a44;
$color-schemes-outline: #7a757f;
$color-schemes-outline-variant: #cbc4cf;
$color-schemes-primary: #6b548d;
$color-schemes-primary-container: #d9bdfe;
$color-schemes-primary-fixed: #d9bdfe;
$color-schemes-primary-fixed-dim: #bda2e1;
$color-schemes-scrim: #000000;
$color-schemes-secondary: #655b70;
$color-schemes-secondary-container: #ebddf7;
$color-schemes-secondary-fixed: #ebddf7;
$color-schemes-secondary-fixed-dim: #cfc1db;
$color-schemes-shadow: #000000;
$color-schemes-surface: #fef7ff;
$color-schemes-surface-bright: #fef7ff;
$color-schemes-surface-container: #f3ecf4;
$color-schemes-surface-container-high: #ede6ee;
$color-schemes-surface-container-highest: #e7e0e8;
$color-schemes-surface-container-low: #f9f1f9;
$color-schemes-surface-container-lowest: #ffffff;
$color-schemes-surface-dim: #dfd8e0;
$color-schemes-surface-tint: #6b548d;
$color-schemes-surface-variant: #e7e0e8;
$color-schemes-tertiary: #80525c;
$color-schemes-tertiary-container: #fdc2cd;
$color-schemes-tertiary-fixed: #fdc2cd;
$color-schemes-tertiary-fixed-dim: #dfa7b2;
$color-state-layers-background-opacity-08: rgba(253, 247, 255, 0.08);
$color-state-layers-background-opacity-10: rgba(253, 247, 255, 0.1);
$color-state-layers-background-opacity-16: rgba(253, 247, 255, 0.16);
$color-state-layers-error-opacity-08: rgba(179, 38, 30, 0.08);
$color-state-layers-error-opacity-10: rgba(179, 38, 30, 0.1);
$color-state-layers-error-opacity-16: rgba(179, 38, 30, 0.16);
$color-state-layers-error-container-opacity-08: rgba(249, 222, 220, 0.08);
$color-state-layers-error-container-opacity-10: rgba(249, 222, 220, 0.1);
$color-state-layers-error-container-opacity-16: rgba(249, 222, 220, 0.16);
$color-state-layers-inverse-on-surface-opacity-08: rgba(243, 236, 244, 0.08);
$color-state-layers-inverse-on-surface-opacity-10: rgba(243, 236, 244, 0.1);
$color-state-layers-inverse-on-surface-opacity-16: rgba(243, 236, 244, 0.16);
$color-state-layers-inverse-primary-opacity-08: rgba(214, 187, 251, 0.08);
$color-state-layers-inverse-primary-opacity-10: rgba(214, 187, 251, 0.1);
$color-state-layers-inverse-primary-opacity-16: rgba(214, 187, 251, 0.16);
$color-state-layers-inverse-surface-opacity-08: rgba(44, 41, 47, 0.08);
$color-state-layers-inverse-surface-opacity-10: rgba(44, 41, 47, 0.1);
$color-state-layers-inverse-surface-opacity-16: rgba(44, 41, 47, 0.16);
$color-state-layers-on-background-opacity-08: rgba(29, 27, 32, 0.08);
$color-state-layers-on-background-opacity-10: rgba(29, 27, 32, 0.1);
$color-state-layers-on-background-opacity-16: rgba(29, 27, 32, 0.16);
$color-state-layers-on-error-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-error-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-error-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-error-container-opacity-08: rgba(140, 29, 24, 0.08);
$color-state-layers-on-error-container-opacity-10: rgba(140, 29, 24, 0.1);
$color-state-layers-on-error-container-opacity-16: rgba(140, 29, 24, 0.16);
$color-state-layers-on-primary-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-primary-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-primary-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-primary-container-opacity-08: rgba(82, 60, 114, 0.08);
$color-state-layers-on-primary-container-opacity-10: rgba(82, 60, 114, 0.1);
$color-state-layers-on-primary-container-opacity-16: rgba(82, 60, 114, 0.16);
$color-state-layers-on-primary-fixed-opacity-08: rgba(37, 14, 68, 0.08);
$color-state-layers-on-primary-fixed-opacity-10: rgba(37, 14, 68, 0.1);
$color-state-layers-on-primary-fixed-opacity-16: rgba(37, 14, 68, 0.16);
$color-state-layers-on-primary-fixed-variant-opacity-08: rgba(82, 60, 114, 0.08);
$color-state-layers-on-primary-fixed-variant-opacity-10: rgba(82, 60, 114, 0.1);
$color-state-layers-on-primary-fixed-variant-opacity-16: rgba(82, 60, 114, 0.16);
$color-state-layers-on-secondary-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-secondary-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-secondary-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-secondary-container-opacity-08: rgba(76, 67, 87, 0.08);
$color-state-layers-on-secondary-container-opacity-10: rgba(76, 67, 87, 0.1);
$color-state-layers-on-secondary-container-opacity-16: rgba(76, 67, 87, 0.16);
$color-state-layers-on-secondary-fixed-opacity-08: rgba(32, 24, 42, 0.08);
$color-state-layers-on-secondary-fixed-opacity-10: rgba(32, 24, 42, 0.1);
$color-state-layers-on-secondary-fixed-opacity-16: rgba(32, 24, 42, 0.16);
$color-state-layers-on-secondary-fixed-variant-opacity-08: rgba(76, 67, 87, 0.08);
$color-state-layers-on-secondary-fixed-variant-opacity-10: rgba(76, 67, 87, 0.1);
$color-state-layers-on-secondary-fixed-variant-opacity-16: rgba(76, 67, 87, 0.16);
$color-state-layers-on-surface-opacity-08: rgba(29, 26, 32, 0.08);
$color-state-layers-on-surface-opacity-10: rgba(29, 26, 32, 0.1);
$color-state-layers-on-surface-opacity-16: rgba(29, 26, 32, 0.16);
$color-state-layers-on-surface-variant-opacity-08: rgba(74, 69, 78, 0.08);
$color-state-layers-on-surface-variant-opacity-10: rgba(74, 69, 78, 0.1);
$color-state-layers-on-surface-variant-opacity-16: rgba(74, 69, 78, 0.16);
$color-state-layers-on-tertiary-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-tertiary-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-tertiary-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-tertiary-container-opacity-08: rgba(101, 58, 68, 0.08);
$color-state-layers-on-tertiary-container-opacity-10: rgba(101, 58, 68, 0.1);
$color-state-layers-on-tertiary-container-opacity-16: rgba(101, 58, 68, 0.16);
$color-state-layers-on-tertiary-fixed-opacity-08: rgba(50, 16, 25, 0.08);
$color-state-layers-on-tertiary-fixed-opacity-10: rgba(50, 16, 25, 0.1);
$color-state-layers-on-tertiary-fixed-opacity-16: rgba(50, 16, 25, 0.16);
$color-state-layers-on-tertiary-fixed-variant-opacity-08: rgba(101, 58, 68, 0.08);
$color-state-layers-on-tertiary-fixed-variant-opacity-10: rgba(101, 58, 68, 0.1);
$color-state-layers-on-tertiary-fixed-variant-opacity-16: rgba(101, 58, 68, 0.16);
$color-state-layers-outline-opacity-08: rgba(122, 117, 127, 0.08);
$color-state-layers-outline-opacity-10: rgba(122, 117, 127, 0.1);
$color-state-layers-outline-opacity-16: rgba(122, 117, 127, 0.16);
$color-state-layers-outline-variant-opacity-08: rgba(203, 196, 207, 0.08);
$color-state-layers-outline-variant-opacity-10: rgba(203, 196, 207, 0.1);
$color-state-layers-outline-variant-opacity-16: rgba(203, 196, 207, 0.16);
$color-state-layers-primary-opacity-08: rgba(107, 84, 141, 0.08);
$color-state-layers-primary-opacity-10: rgba(107, 84, 141, 0.1);
$color-state-layers-primary-opacity-16: rgba(107, 84, 141, 0.16);
$color-state-layers-primary-container-opacity-08: rgba(217, 189, 254, 0.08);
$color-state-layers-primary-container-opacity-10: rgba(217, 189, 254, 0.1);
$color-state-layers-primary-container-opacity-16: rgba(217, 189, 254, 0.16);
$color-state-layers-primary-fixed-opacity-08: rgba(217, 189, 254, 0.08);
$color-state-layers-primary-fixed-opacity-10: rgba(217, 189, 254, 0.1);
$color-state-layers-primary-fixed-opacity-16: rgba(217, 189, 254, 0.16);
$color-state-layers-primary-fixed-dim-opacity-08: rgba(189, 162, 225, 0.08);
$color-state-layers-primary-fixed-dim-opacity-10: rgba(189, 162, 225, 0.1);
$color-state-layers-primary-fixed-dim-opacity-16: rgba(189, 162, 225, 0.16);
$color-state-layers-scrim-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-scrim-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-scrim-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-secondary-opacity-08: rgba(101, 91, 112, 0.08);
$color-state-layers-secondary-opacity-10: rgba(101, 91, 112, 0.1);
$color-state-layers-secondary-opacity-16: rgba(101, 91, 112, 0.16);
$color-state-layers-secondary-container-opacity-08: rgba(235, 221, 247, 0.08);
$color-state-layers-secondary-container-opacity-10: rgba(235, 221, 247, 0.1);
$color-state-layers-secondary-container-opacity-16: rgba(235, 221, 247, 0.16);
$color-state-layers-secondary-fixed-opacity-08: rgba(235, 221, 247, 0.08);
$color-state-layers-secondary-fixed-opacity-10: rgba(235, 221, 247, 0.1);
$color-state-layers-secondary-fixed-opacity-16: rgba(235, 221, 247, 0.16);
$color-state-layers-secondary-fixed-dim-opacity-08: rgba(207, 193, 219, 0.08);
$color-state-layers-secondary-fixed-dim-opacity-10: rgba(207, 193, 219, 0.1);
$color-state-layers-secondary-fixed-dim-opacity-16: rgba(207, 193, 219, 0.16);
$color-state-layers-shadow-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-shadow-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-shadow-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-surface-opacity-08: rgba(254, 247, 255, 0.08);
$color-state-layers-surface-opacity-10: rgba(254, 247, 255, 0.1);
$color-state-layers-surface-opacity-16: rgba(254, 247, 255, 0.16);
$color-state-layers-surface-bright-opacity-08: rgba(254, 247, 255, 0.08);
$color-state-layers-surface-bright-opacity-10: rgba(254, 247, 255, 0.1);
$color-state-layers-surface-bright-opacity-16: rgba(254, 247, 255, 0.16);
$color-state-layers-surface-container-opacity-08: rgba(243, 236, 244, 0.08);
$color-state-layers-surface-container-opacity-10: rgba(243, 236, 244, 0.1);
$color-state-layers-surface-container-opacity-16: rgba(243, 236, 244, 0.16);
$color-state-layers-surface-container-high-opacity-08: rgba(237, 230, 238, 0.08);
$color-state-layers-surface-container-high-opacity-10: rgba(237, 230, 238, 0.1);
$color-state-layers-surface-container-high-opacity-16: rgba(237, 230, 238, 0.16);
$color-state-layers-surface-container-highest-opacity-08: rgba(231, 224, 232, 0.08);
$color-state-layers-surface-container-highest-opacity-10: rgba(231, 224, 232, 0.1);
$color-state-layers-surface-container-highest-opacity-16: rgba(231, 224, 232, 0.16);
$color-state-layers-surface-container-low-opacity-08: rgba(249, 241, 249, 0.08);
$color-state-layers-surface-container-low-opacity-10: rgba(249, 241, 249, 0.1);
$color-state-layers-surface-container-low-opacity-16: rgba(249, 241, 249, 0.16);
$color-state-layers-surface-container-lowest-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-surface-container-lowest-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-surface-container-lowest-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-surface-dim-opacity-08: rgba(223, 216, 224, 0.08);
$color-state-layers-surface-dim-opacity-10: rgba(223, 216, 224, 0.1);
$color-state-layers-surface-dim-opacity-16: rgba(223, 216, 224, 0.16);
$color-state-layers-surface-tint-opacity-08: rgba(107, 84, 141, 0.08);
$color-state-layers-surface-tint-opacity-10: rgba(107, 84, 141, 0.1);
$color-state-layers-surface-tint-opacity-16: rgba(107, 84, 141, 0.16);
$color-state-layers-surface-variant-opacity-08: rgba(231, 224, 232, 0.08);
$color-state-layers-surface-variant-opacity-10: rgba(231, 224, 232, 0.1);
$color-state-layers-surface-variant-opacity-16: rgba(231, 224, 232, 0.16);
$color-state-layers-tertiary-opacity-08: rgba(128, 82, 92, 0.08);
$color-state-layers-tertiary-opacity-10: rgba(128, 82, 92, 0.1);
$color-state-layers-tertiary-opacity-16: rgba(128, 82, 92, 0.16);
$color-state-layers-tertiary-container-opacity-08: rgba(253, 194, 205, 0.08);
$color-state-layers-tertiary-container-opacity-10: rgba(253, 194, 205, 0.1);
$color-state-layers-tertiary-container-opacity-16: rgba(253, 194, 205, 0.16);
$color-state-layers-tertiary-fixed-opacity-08: rgba(253, 194, 205, 0.08);
$color-state-layers-tertiary-fixed-opacity-10: rgba(253, 194, 205, 0.1);
$color-state-layers-tertiary-fixed-opacity-16: rgba(253, 194, 205, 0.16);
$color-state-layers-tertiary-fixed-dim-opacity-08: rgba(223, 167, 178, 0.08);
$color-state-layers-tertiary-fixed-dim-opacity-10: rgba(223, 167, 178, 0.1);
$color-state-layers-tertiary-fixed-dim-opacity-16: rgba(223, 167, 178, 0.16);
