$color-add-ons-section-background: #f5f5f5;
$color-schemes-background: #fdf7ff;
$color-schemes-error: #440f0e;
$color-schemes-error-container: #6e2f2c;
$color-schemes-inverse-on-surface: #ffffff;
$color-schemes-inverse-primary: #f1e8ff;
$color-schemes-inverse-surface: #322f35;
$color-schemes-on-background: #1d1b20;
$color-schemes-on-error: #ffffff;
$color-schemes-on-error-container: #ffffff;
$color-schemes-on-primary: #ffffff;
$color-schemes-on-primary-container: #ffffff;
$color-schemes-on-primary-fixed: #ffffff;
$color-schemes-on-primary-fixed-variant: #ffffff;
$color-schemes-on-secondary: #ffffff;
$color-schemes-on-secondary-container: #ffffff;
$color-schemes-on-secondary-fixed: #ffffff;
$color-schemes-on-secondary-fixed-variant: #ffffff;
$color-schemes-on-surface: #000000;
$color-schemes-on-surface-variant: #25232b;
$color-schemes-on-tertiary: #ffffff;
$color-schemes-on-tertiary-container: #ffffff;
$color-schemes-on-tertiary-fixed: #ffffff;
$color-schemes-on-tertiary-fixed-variant: #ffffff;
$color-schemes-outline: #45414a;
$color-schemes-outline-variant: #45414a;
$color-schemes-primary: #27174e;
$color-schemes-primary-container: #493971;
$color-schemes-primary-fixed: #493971;
$color-schemes-primary-fixed-dim: #322359;
$color-schemes-scrim: #000000;
$color-schemes-secondary: #27174e;
$color-schemes-secondary-container: #493971;
$color-schemes-secondary-fixed: #493971;
$color-schemes-secondary-fixed-dim: #322359;
$color-schemes-shadow: #000000;
$color-schemes-surface: #fdf7ff;
$color-schemes-surface-bright: #fdf7ff;
$color-schemes-surface-container: #f2ecf4;
$color-schemes-surface-container-high: #ece6ee;
$color-schemes-surface-container-highest: #e6e0e9;
$color-schemes-surface-container-low: #f8f2fa;
$color-schemes-surface-container-lowest: #ffffff;
$color-schemes-surface-dim: #ded8e0;
$color-schemes-surface-tint: #65558f;
$color-schemes-surface-variant: #e7e0eb;
$color-schemes-tertiary: #420e24;
$color-schemes-tertiary-container: #6b2f45;
$color-schemes-tertiary-fixed: #6b2f45;
$color-schemes-tertiary-fixed-dim: #50192f;
$color-state-layers-background-opacity-08: rgba(253, 247, 255, 0.08);
$color-state-layers-background-opacity-10: rgba(253, 247, 255, 0.1);
$color-state-layers-background-opacity-16: rgba(253, 247, 255, 0.16);
$color-state-layers-error-opacity-08: rgba(68, 15, 14, 0.08);
$color-state-layers-error-opacity-10: rgba(68, 15, 14, 0.1);
$color-state-layers-error-opacity-16: rgba(68, 15, 14, 0.16);
$color-state-layers-error-container-opacity-08: rgba(110, 47, 44, 0.08);
$color-state-layers-error-container-opacity-10: rgba(110, 47, 44, 0.1);
$color-state-layers-error-container-opacity-16: rgba(110, 47, 44, 0.16);
$color-state-layers-inverse-on-surface-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-inverse-on-surface-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-inverse-on-surface-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-inverse-primary-opacity-08: rgba(241, 232, 255, 0.08);
$color-state-layers-inverse-primary-opacity-10: rgba(241, 232, 255, 0.1);
$color-state-layers-inverse-primary-opacity-16: rgba(241, 232, 255, 0.16);
$color-state-layers-inverse-surface-opacity-08: rgba(50, 47, 53, 0.08);
$color-state-layers-inverse-surface-opacity-10: rgba(50, 47, 53, 0.1);
$color-state-layers-inverse-surface-opacity-16: rgba(50, 47, 53, 0.16);
$color-state-layers-on-background-opacity-08: rgba(29, 27, 32, 0.08);
$color-state-layers-on-background-opacity-10: rgba(29, 27, 32, 0.1);
$color-state-layers-on-background-opacity-16: rgba(29, 27, 32, 0.16);
$color-state-layers-on-error-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-error-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-error-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-error-container-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-error-container-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-error-container-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-primary-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-primary-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-primary-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-primary-container-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-primary-container-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-primary-container-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-primary-fixed-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-primary-fixed-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-primary-fixed-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-primary-fixed-variant-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-primary-fixed-variant-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-primary-fixed-variant-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-secondary-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-secondary-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-secondary-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-secondary-container-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-secondary-container-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-secondary-container-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-secondary-fixed-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-secondary-fixed-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-secondary-fixed-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-secondary-fixed-variant-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-secondary-fixed-variant-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-secondary-fixed-variant-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-surface-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-on-surface-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-on-surface-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-on-surface-variant-opacity-08: rgba(37, 35, 43, 0.08);
$color-state-layers-on-surface-variant-opacity-10: rgba(37, 35, 43, 0.1);
$color-state-layers-on-surface-variant-opacity-16: rgba(37, 35, 43, 0.16);
$color-state-layers-on-tertiary-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-tertiary-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-tertiary-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-tertiary-container-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-tertiary-container-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-tertiary-container-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-tertiary-fixed-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-tertiary-fixed-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-tertiary-fixed-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-tertiary-fixed-variant-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-tertiary-fixed-variant-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-tertiary-fixed-variant-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-outline-opacity-08: rgba(69, 65, 74, 0.08);
$color-state-layers-outline-opacity-10: rgba(69, 65, 74, 0.1);
$color-state-layers-outline-opacity-16: rgba(69, 65, 74, 0.16);
$color-state-layers-outline-variant-opacity-08: rgba(69, 65, 74, 0.08);
$color-state-layers-outline-variant-opacity-10: rgba(69, 65, 74, 0.1);
$color-state-layers-outline-variant-opacity-16: rgba(69, 65, 74, 0.16);
$color-state-layers-primary-opacity-08: rgba(39, 23, 78, 0.08);
$color-state-layers-primary-opacity-10: rgba(39, 23, 78, 0.1);
$color-state-layers-primary-opacity-16: rgba(39, 23, 78, 0.16);
$color-state-layers-primary-container-opacity-08: rgba(73, 57, 113, 0.08);
$color-state-layers-primary-container-opacity-10: rgba(73, 57, 113, 0.1);
$color-state-layers-primary-container-opacity-16: rgba(73, 57, 113, 0.16);
$color-state-layers-primary-fixed-opacity-08: rgba(73, 57, 113, 0.08);
$color-state-layers-primary-fixed-opacity-10: rgba(73, 57, 113, 0.1);
$color-state-layers-primary-fixed-opacity-16: rgba(73, 57, 113, 0.16);
$color-state-layers-primary-fixed-dim-opacity-08: rgba(50, 35, 89, 0.08);
$color-state-layers-primary-fixed-dim-opacity-10: rgba(50, 35, 89, 0.1);
$color-state-layers-primary-fixed-dim-opacity-16: rgba(50, 35, 89, 0.16);
$color-state-layers-scrim-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-scrim-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-scrim-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-secondary-opacity-08: rgba(39, 23, 78, 0.08);
$color-state-layers-secondary-opacity-10: rgba(39, 23, 78, 0.1);
$color-state-layers-secondary-opacity-16: rgba(39, 23, 78, 0.16);
$color-state-layers-secondary-container-opacity-08: rgba(73, 57, 113, 0.08);
$color-state-layers-secondary-container-opacity-10: rgba(73, 57, 113, 0.1);
$color-state-layers-secondary-container-opacity-16: rgba(73, 57, 113, 0.16);
$color-state-layers-secondary-fixed-opacity-08: rgba(73, 57, 113, 0.08);
$color-state-layers-secondary-fixed-opacity-10: rgba(73, 57, 113, 0.1);
$color-state-layers-secondary-fixed-opacity-16: rgba(73, 57, 113, 0.16);
$color-state-layers-secondary-fixed-dim-opacity-08: rgba(50, 35, 89, 0.08);
$color-state-layers-secondary-fixed-dim-opacity-10: rgba(50, 35, 89, 0.1);
$color-state-layers-secondary-fixed-dim-opacity-16: rgba(50, 35, 89, 0.16);
$color-state-layers-shadow-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-shadow-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-shadow-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-surface-opacity-08: rgba(253, 247, 255, 0.08);
$color-state-layers-surface-opacity-10: rgba(253, 247, 255, 0.1);
$color-state-layers-surface-opacity-16: rgba(253, 247, 255, 0.16);
$color-state-layers-surface-bright-opacity-08: rgba(253, 247, 255, 0.08);
$color-state-layers-surface-bright-opacity-10: rgba(253, 247, 255, 0.1);
$color-state-layers-surface-bright-opacity-16: rgba(253, 247, 255, 0.16);
$color-state-layers-surface-container-opacity-08: rgba(242, 236, 244, 0.08);
$color-state-layers-surface-container-opacity-10: rgba(242, 236, 244, 0.1);
$color-state-layers-surface-container-opacity-16: rgba(242, 236, 244, 0.16);
$color-state-layers-surface-container-high-opacity-08: rgba(236, 230, 238, 0.08);
$color-state-layers-surface-container-high-opacity-10: rgba(236, 230, 238, 0.1);
$color-state-layers-surface-container-high-opacity-16: rgba(236, 230, 238, 0.16);
$color-state-layers-surface-container-highest-opacity-08: rgba(230, 224, 233, 0.08);
$color-state-layers-surface-container-highest-opacity-10: rgba(230, 224, 233, 0.1);
$color-state-layers-surface-container-highest-opacity-16: rgba(230, 224, 233, 0.16);
$color-state-layers-surface-container-low-opacity-08: rgba(248, 242, 250, 0.08);
$color-state-layers-surface-container-low-opacity-10: rgba(248, 242, 250, 0.1);
$color-state-layers-surface-container-low-opacity-16: rgba(248, 242, 250, 0.16);
$color-state-layers-surface-container-lowest-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-surface-container-lowest-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-surface-container-lowest-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-surface-dim-opacity-08: rgba(222, 216, 224, 0.08);
$color-state-layers-surface-dim-opacity-10: rgba(222, 216, 224, 0.1);
$color-state-layers-surface-dim-opacity-16: rgba(222, 216, 224, 0.16);
$color-state-layers-surface-tint-opacity-08: rgba(101, 85, 143, 0.08);
$color-state-layers-surface-tint-opacity-10: rgba(101, 85, 143, 0.1);
$color-state-layers-surface-tint-opacity-16: rgba(101, 85, 143, 0.16);
$color-state-layers-surface-variant-opacity-08: rgba(231, 224, 235, 0.08);
$color-state-layers-surface-variant-opacity-10: rgba(231, 224, 235, 0.1);
$color-state-layers-surface-variant-opacity-16: rgba(231, 224, 235, 0.16);
$color-state-layers-tertiary-opacity-08: rgba(66, 14, 36, 0.08);
$color-state-layers-tertiary-opacity-10: rgba(66, 14, 36, 0.1);
$color-state-layers-tertiary-opacity-16: rgba(66, 14, 36, 0.16);
$color-state-layers-tertiary-container-opacity-08: rgba(107, 47, 69, 0.08);
$color-state-layers-tertiary-container-opacity-10: rgba(107, 47, 69, 0.1);
$color-state-layers-tertiary-container-opacity-16: rgba(107, 47, 69, 0.16);
$color-state-layers-tertiary-fixed-opacity-08: rgba(107, 47, 69, 0.08);
$color-state-layers-tertiary-fixed-opacity-10: rgba(107, 47, 69, 0.1);
$color-state-layers-tertiary-fixed-opacity-16: rgba(107, 47, 69, 0.16);
$color-state-layers-tertiary-fixed-dim-opacity-08: rgba(80, 25, 47, 0.08);
$color-state-layers-tertiary-fixed-dim-opacity-10: rgba(80, 25, 47, 0.1);
$color-state-layers-tertiary-fixed-dim-opacity-16: rgba(80, 25, 47, 0.16);
