$content-static-body-large-font: Roboto;
$content-static-body-large-weight: Regular;
$content-static-body-large-weight-emphasized: Medium;
$content-static-body-medium-font: Roboto;
$content-static-body-medium-weight: Regular;
$content-static-body-medium-weight-emphasized: Medium;
$content-static-body-small-font: Roboto;
$content-static-body-small-weight: Regular;
$content-static-body-small-weight-emphasized: Medium;
$content-static-display-large-font: Roboto;
$content-static-display-large-weight: Regular;
$content-static-display-large-weight-emphasized: Medium;
$content-static-display-medium-font: Roboto;
$content-static-display-medium-weight: Regular;
$content-static-display-medium-weight-emphasized: Medium;
$content-static-display-small-font: Roboto;
$content-static-display-small-weight: Regular;
$content-static-display-small-weight-emphasized: Medium;
$content-static-headline-large-font: Roboto;
$content-static-headline-large-weight: Regular;
$content-static-headline-large-weight-emphasized: Medium;
$content-static-headline-medium-font: Roboto;
$content-static-headline-medium-weight: Regular;
$content-static-headline-medium-weight-emphasized: Medium;
$content-static-headline-small-font: Roboto;
$content-static-headline-small-weight: Regular;
$content-static-headline-small-weight-emphasized: Medium;
$content-static-label-large-font: Roboto;
$content-static-label-large-weight: Medium;
$content-static-label-large-weight-emphasized: SemiBold;
$content-static-label-medium-font: Roboto;
$content-static-label-medium-weight: Medium;
$content-static-label-medium-weight-emphasized: SemiBold;
$content-static-label-small-font: Roboto;
$content-static-label-small-weight: Medium;
$content-static-label-small-weight-emphasized: SemiBold;
$content-static-title-large-font: Roboto;
$content-static-title-large-weight: Regular;
$content-static-title-large-weight-emphasized: Medium;
$content-static-title-medium-font: Roboto;
$content-static-title-medium-weight: Medium;
$content-static-title-medium-weight-emphasized: SemiBold;
$content-static-title-small-font: Roboto;
$content-static-title-small-weight: Medium;
$content-static-title-small-weight-emphasized: SemiBold;
