$content-static-font-brand: Flow Circular;
$content-static-font-plain: Flow Circular;
$content-static-weight-bold: Regular;
$content-static-weight-medium: Regular;
$content-static-weight-regular: Regular;
