$color-add-ons-section-background: #f5f5f5;
$color-schemes-background: #fdf7ff;
$color-schemes-error: #b3261e;
$color-schemes-error-container: #f9dedc;
$color-schemes-inverse-on-surface: #fceae7;
$color-schemes-inverse-primary: #ffa79b;
$color-schemes-inverse-surface: #322826;
$color-schemes-on-background: #1d1b20;
$color-schemes-on-error: #ffffff;
$color-schemes-on-error-container: #8c1d18;
$color-schemes-on-primary: #ffffff;
$color-schemes-on-primary-container: #73332c;
$color-schemes-on-primary-fixed: #3b0906;
$color-schemes-on-primary-fixed-variant: #73332c;
$color-schemes-on-secondary: #ffffff;
$color-schemes-on-secondary-container: #5d3f3b;
$color-schemes-on-secondary-fixed: #2c1512;
$color-schemes-on-secondary-fixed-variant: #5d3f3b;
$color-schemes-on-surface: #231918;
$color-schemes-on-surface-variant: #534341;
$color-schemes-on-tertiary: #ffffff;
$color-schemes-on-tertiary-container: #544522;
$color-schemes-on-tertiary-fixed: #261a00;
$color-schemes-on-tertiary-fixed-variant: #544522;
$color-schemes-outline: #857370;
$color-schemes-outline-variant: #d8c2be;
$color-schemes-primary: #914b43;
$color-schemes-primary-container: #fda499;
$color-schemes-primary-fixed: #fda499;
$color-schemes-primary-fixed-dim: #de8a80;
$color-schemes-scrim: #000000;
$color-schemes-secondary: #785753;
$color-schemes-secondary-container: #ffd3cd;
$color-schemes-secondary-fixed: #ffd3cd;
$color-schemes-secondary-fixed-dim: #e1b7b2;
$color-schemes-shadow: #000000;
$color-schemes-surface: #fff8f7;
$color-schemes-surface-bright: #fff8f7;
$color-schemes-surface-container: #fceae7;
$color-schemes-surface-container-high: #f7e4e2;
$color-schemes-surface-container-highest: #f1dedc;
$color-schemes-surface-container-low: #fff0ee;
$color-schemes-surface-container-lowest: #ffffff;
$color-schemes-surface-dim: #e8d6d4;
$color-schemes-surface-tint: #914b43;
$color-schemes-surface-variant: #f1dedc;
$color-schemes-tertiary: #715c2f;
$color-schemes-tertiary-container: #fadca3;
$color-schemes-tertiary-fixed: #fadca3;
$color-schemes-tertiary-fixed-dim: #dfc38c;
$color-state-layers-background-opacity-08: rgba(253, 247, 255, 0.08);
$color-state-layers-background-opacity-10: rgba(253, 247, 255, 0.1);
$color-state-layers-background-opacity-16: rgba(253, 247, 255, 0.16);
$color-state-layers-error-opacity-08: rgba(179, 38, 30, 0.08);
$color-state-layers-error-opacity-10: rgba(179, 38, 30, 0.1);
$color-state-layers-error-opacity-16: rgba(179, 38, 30, 0.16);
$color-state-layers-error-container-opacity-08: rgba(249, 222, 220, 0.08);
$color-state-layers-error-container-opacity-10: rgba(249, 222, 220, 0.1);
$color-state-layers-error-container-opacity-16: rgba(249, 222, 220, 0.16);
$color-state-layers-inverse-on-surface-opacity-08: rgba(252, 234, 231, 0.08);
$color-state-layers-inverse-on-surface-opacity-10: rgba(252, 234, 231, 0.1);
$color-state-layers-inverse-on-surface-opacity-16: rgba(252, 234, 231, 0.16);
$color-state-layers-inverse-primary-opacity-08: rgba(255, 167, 155, 0.08);
$color-state-layers-inverse-primary-opacity-10: rgba(255, 167, 155, 0.1);
$color-state-layers-inverse-primary-opacity-16: rgba(255, 167, 155, 0.16);
$color-state-layers-inverse-surface-opacity-08: rgba(50, 40, 38, 0.08);
$color-state-layers-inverse-surface-opacity-10: rgba(50, 40, 38, 0.1);
$color-state-layers-inverse-surface-opacity-16: rgba(50, 40, 38, 0.16);
$color-state-layers-on-background-opacity-08: rgba(29, 27, 32, 0.08);
$color-state-layers-on-background-opacity-10: rgba(29, 27, 32, 0.1);
$color-state-layers-on-background-opacity-16: rgba(29, 27, 32, 0.16);
$color-state-layers-on-error-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-error-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-error-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-error-container-opacity-08: rgba(140, 29, 24, 0.08);
$color-state-layers-on-error-container-opacity-10: rgba(140, 29, 24, 0.1);
$color-state-layers-on-error-container-opacity-16: rgba(140, 29, 24, 0.16);
$color-state-layers-on-primary-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-primary-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-primary-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-primary-container-opacity-08: rgba(115, 51, 44, 0.08);
$color-state-layers-on-primary-container-opacity-10: rgba(115, 51, 44, 0.1);
$color-state-layers-on-primary-container-opacity-16: rgba(115, 51, 44, 0.16);
$color-state-layers-on-primary-fixed-opacity-08: rgba(59, 9, 6, 0.08);
$color-state-layers-on-primary-fixed-opacity-10: rgba(59, 9, 6, 0.1);
$color-state-layers-on-primary-fixed-opacity-16: rgba(59, 9, 6, 0.16);
$color-state-layers-on-primary-fixed-variant-opacity-08: rgba(115, 51, 44, 0.08);
$color-state-layers-on-primary-fixed-variant-opacity-10: rgba(115, 51, 44, 0.1);
$color-state-layers-on-primary-fixed-variant-opacity-16: rgba(115, 51, 44, 0.16);
$color-state-layers-on-secondary-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-secondary-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-secondary-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-secondary-container-opacity-08: rgba(93, 63, 59, 0.08);
$color-state-layers-on-secondary-container-opacity-10: rgba(93, 63, 59, 0.1);
$color-state-layers-on-secondary-container-opacity-16: rgba(93, 63, 59, 0.16);
$color-state-layers-on-secondary-fixed-opacity-08: rgba(44, 21, 18, 0.08);
$color-state-layers-on-secondary-fixed-opacity-10: rgba(44, 21, 18, 0.1);
$color-state-layers-on-secondary-fixed-opacity-16: rgba(44, 21, 18, 0.16);
$color-state-layers-on-secondary-fixed-variant-opacity-08: rgba(93, 63, 59, 0.08);
$color-state-layers-on-secondary-fixed-variant-opacity-10: rgba(93, 63, 59, 0.1);
$color-state-layers-on-secondary-fixed-variant-opacity-16: rgba(93, 63, 59, 0.16);
$color-state-layers-on-surface-opacity-08: rgba(35, 25, 24, 0.08);
$color-state-layers-on-surface-opacity-10: rgba(35, 25, 24, 0.1);
$color-state-layers-on-surface-opacity-16: rgba(35, 25, 24, 0.16);
$color-state-layers-on-surface-variant-opacity-08: rgba(83, 67, 65, 0.08);
$color-state-layers-on-surface-variant-opacity-10: rgba(83, 67, 65, 0.1);
$color-state-layers-on-surface-variant-opacity-16: rgba(83, 67, 65, 0.16);
$color-state-layers-on-tertiary-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-tertiary-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-tertiary-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-tertiary-container-opacity-08: rgba(84, 69, 34, 0.08);
$color-state-layers-on-tertiary-container-opacity-10: rgba(84, 69, 34, 0.1);
$color-state-layers-on-tertiary-container-opacity-16: rgba(84, 69, 34, 0.16);
$color-state-layers-on-tertiary-fixed-opacity-08: rgba(38, 26, 0, 0.08);
$color-state-layers-on-tertiary-fixed-opacity-10: rgba(38, 26, 0, 0.1);
$color-state-layers-on-tertiary-fixed-opacity-16: rgba(38, 26, 0, 0.16);
$color-state-layers-on-tertiary-fixed-variant-opacity-08: rgba(84, 69, 34, 0.08);
$color-state-layers-on-tertiary-fixed-variant-opacity-10: rgba(84, 69, 34, 0.1);
$color-state-layers-on-tertiary-fixed-variant-opacity-16: rgba(84, 69, 34, 0.16);
$color-state-layers-outline-opacity-08: rgba(133, 115, 112, 0.08);
$color-state-layers-outline-opacity-10: rgba(133, 115, 112, 0.1);
$color-state-layers-outline-opacity-16: rgba(133, 115, 112, 0.16);
$color-state-layers-outline-variant-opacity-08: rgba(216, 194, 190, 0.08);
$color-state-layers-outline-variant-opacity-10: rgba(216, 194, 190, 0.1);
$color-state-layers-outline-variant-opacity-16: rgba(216, 194, 190, 0.16);
$color-state-layers-primary-opacity-08: rgba(145, 75, 67, 0.08);
$color-state-layers-primary-opacity-10: rgba(145, 75, 67, 0.1);
$color-state-layers-primary-opacity-16: rgba(145, 75, 67, 0.16);
$color-state-layers-primary-container-opacity-08: rgba(253, 164, 153, 0.08);
$color-state-layers-primary-container-opacity-10: rgba(253, 164, 153, 0.1);
$color-state-layers-primary-container-opacity-16: rgba(253, 164, 153, 0.16);
$color-state-layers-primary-fixed-opacity-08: rgba(253, 164, 153, 0.08);
$color-state-layers-primary-fixed-opacity-10: rgba(253, 164, 153, 0.1);
$color-state-layers-primary-fixed-opacity-16: rgba(253, 164, 153, 0.16);
$color-state-layers-primary-fixed-dim-opacity-08: rgba(222, 138, 128, 0.08);
$color-state-layers-primary-fixed-dim-opacity-10: rgba(222, 138, 128, 0.1);
$color-state-layers-primary-fixed-dim-opacity-16: rgba(222, 138, 128, 0.16);
$color-state-layers-scrim-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-scrim-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-scrim-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-secondary-opacity-08: rgba(120, 87, 83, 0.08);
$color-state-layers-secondary-opacity-10: rgba(120, 87, 83, 0.1);
$color-state-layers-secondary-opacity-16: rgba(120, 87, 83, 0.16);
$color-state-layers-secondary-container-opacity-08: rgba(255, 211, 205, 0.08);
$color-state-layers-secondary-container-opacity-10: rgba(255, 211, 205, 0.1);
$color-state-layers-secondary-container-opacity-16: rgba(255, 211, 205, 0.16);
$color-state-layers-secondary-fixed-opacity-08: rgba(255, 211, 205, 0.08);
$color-state-layers-secondary-fixed-opacity-10: rgba(255, 211, 205, 0.1);
$color-state-layers-secondary-fixed-opacity-16: rgba(255, 211, 205, 0.16);
$color-state-layers-secondary-fixed-dim-opacity-08: rgba(225, 183, 178, 0.08);
$color-state-layers-secondary-fixed-dim-opacity-10: rgba(225, 183, 178, 0.1);
$color-state-layers-secondary-fixed-dim-opacity-16: rgba(225, 183, 178, 0.16);
$color-state-layers-shadow-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-shadow-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-shadow-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-surface-opacity-08: rgba(255, 248, 247, 0.08);
$color-state-layers-surface-opacity-10: rgba(255, 248, 247, 0.1);
$color-state-layers-surface-opacity-16: rgba(255, 248, 247, 0.16);
$color-state-layers-surface-bright-opacity-08: rgba(255, 248, 247, 0.08);
$color-state-layers-surface-bright-opacity-10: rgba(255, 248, 247, 0.1);
$color-state-layers-surface-bright-opacity-16: rgba(255, 248, 247, 0.16);
$color-state-layers-surface-container-opacity-08: rgba(252, 234, 231, 0.08);
$color-state-layers-surface-container-opacity-10: rgba(252, 234, 231, 0.1);
$color-state-layers-surface-container-opacity-16: rgba(252, 234, 231, 0.16);
$color-state-layers-surface-container-high-opacity-08: rgba(247, 228, 226, 0.08);
$color-state-layers-surface-container-high-opacity-10: rgba(247, 228, 226, 0.1);
$color-state-layers-surface-container-high-opacity-16: rgba(247, 228, 226, 0.16);
$color-state-layers-surface-container-highest-opacity-08: rgba(241, 222, 220, 0.08);
$color-state-layers-surface-container-highest-opacity-10: rgba(241, 222, 220, 0.1);
$color-state-layers-surface-container-highest-opacity-16: rgba(241, 222, 220, 0.16);
$color-state-layers-surface-container-low-opacity-08: rgba(255, 240, 238, 0.08);
$color-state-layers-surface-container-low-opacity-10: rgba(255, 240, 238, 0.1);
$color-state-layers-surface-container-low-opacity-16: rgba(255, 240, 238, 0.16);
$color-state-layers-surface-container-lowest-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-surface-container-lowest-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-surface-container-lowest-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-surface-dim-opacity-08: rgba(232, 214, 212, 0.08);
$color-state-layers-surface-dim-opacity-10: rgba(232, 214, 212, 0.1);
$color-state-layers-surface-dim-opacity-16: rgba(232, 214, 212, 0.16);
$color-state-layers-surface-tint-opacity-08: rgba(145, 75, 67, 0.08);
$color-state-layers-surface-tint-opacity-10: rgba(145, 75, 67, 0.1);
$color-state-layers-surface-tint-opacity-16: rgba(145, 75, 67, 0.16);
$color-state-layers-surface-variant-opacity-08: rgba(241, 222, 220, 0.08);
$color-state-layers-surface-variant-opacity-10: rgba(241, 222, 220, 0.1);
$color-state-layers-surface-variant-opacity-16: rgba(241, 222, 220, 0.16);
$color-state-layers-tertiary-opacity-08: rgba(113, 92, 47, 0.08);
$color-state-layers-tertiary-opacity-10: rgba(113, 92, 47, 0.1);
$color-state-layers-tertiary-opacity-16: rgba(113, 92, 47, 0.16);
$color-state-layers-tertiary-container-opacity-08: rgba(250, 220, 163, 0.08);
$color-state-layers-tertiary-container-opacity-10: rgba(250, 220, 163, 0.1);
$color-state-layers-tertiary-container-opacity-16: rgba(250, 220, 163, 0.16);
$color-state-layers-tertiary-fixed-opacity-08: rgba(250, 220, 163, 0.08);
$color-state-layers-tertiary-fixed-opacity-10: rgba(250, 220, 163, 0.1);
$color-state-layers-tertiary-fixed-opacity-16: rgba(250, 220, 163, 0.16);
$color-state-layers-tertiary-fixed-dim-opacity-08: rgba(223, 195, 140, 0.08);
$color-state-layers-tertiary-fixed-dim-opacity-10: rgba(223, 195, 140, 0.1);
$color-state-layers-tertiary-fixed-dim-opacity-16: rgba(223, 195, 140, 0.16);
