$color-add-ons-section-background: #000000;
$color-schemes-background: #141218;
$color-schemes-error: #f2b8b5;
$color-schemes-error-container: #8c1d18;
$color-schemes-inverse-on-surface: #303030;
$color-schemes-inverse-primary: #000000;
$color-schemes-inverse-surface: #e2e2e2;
$color-schemes-on-background: #e6e0e9;
$color-schemes-on-error: #601410;
$color-schemes-on-error-container: #f2b8b5;
$color-schemes-on-primary: #1a1c1c;
$color-schemes-on-primary-container: #000000;
$color-schemes-on-primary-fixed: #ffffff;
$color-schemes-on-primary-fixed-variant: #e3e2e2;
$color-schemes-on-secondary: #1a1c1c;
$color-schemes-on-secondary-container: #e2e2e2;
$color-schemes-on-secondary-fixed: #1b1c1c;
$color-schemes-on-secondary-fixed-variant: #3b3b3c;
$color-schemes-on-surface: #e2e2e2;
$color-schemes-on-surface-variant: #c6c6c6;
$color-schemes-on-tertiary: #1a1c1c;
$color-schemes-on-tertiary-container: #000000;
$color-schemes-on-tertiary-fixed: #ffffff;
$color-schemes-on-tertiary-fixed-variant: #e3e2e2;
$color-schemes-outline: #919191;
$color-schemes-outline-variant: #474747;
$color-schemes-primary: #ffffff;
$color-schemes-primary-container: #d4d4d4;
$color-schemes-primary-fixed: #5e5e5e;
$color-schemes-primary-fixed-dim: #474747;
$color-schemes-scrim: #000000;
$color-schemes-secondary: #c6c6c6;
$color-schemes-secondary-container: #474747;
$color-schemes-secondary-fixed: #c6c6c6;
$color-schemes-secondary-fixed-dim: #ababab;
$color-schemes-shadow: #000000;
$color-schemes-surface: #131313;
$color-schemes-surface-bright: #393939;
$color-schemes-surface-container: #1f1f1f;
$color-schemes-surface-container-high: #2a2a2a;
$color-schemes-surface-container-highest: #353535;
$color-schemes-surface-container-low: #1b1b1b;
$color-schemes-surface-container-lowest: #0e0e0e;
$color-schemes-surface-dim: #131313;
$color-schemes-surface-tint: #e8e8e8;
$color-schemes-surface-variant: #474747;
$color-schemes-tertiary: #e2e2e2;
$color-schemes-tertiary-container: #919191;
$color-schemes-tertiary-fixed: #5e5e5e;
$color-schemes-tertiary-fixed-dim: #474747;
$color-state-layers-background-opacity-08: rgba(20, 18, 24, 0.08);
$color-state-layers-background-opacity-10: rgba(20, 18, 24, 0.1);
$color-state-layers-background-opacity-16: rgba(20, 18, 24, 0.16);
$color-state-layers-error-opacity-08: rgba(242, 184, 181, 0.08);
$color-state-layers-error-opacity-10: rgba(242, 184, 181, 0.1);
$color-state-layers-error-opacity-16: rgba(242, 184, 181, 0.16);
$color-state-layers-error-container-opacity-08: rgba(140, 29, 24, 0.08);
$color-state-layers-error-container-opacity-10: rgba(140, 29, 24, 0.1);
$color-state-layers-error-container-opacity-16: rgba(140, 29, 24, 0.16);
$color-state-layers-inverse-on-surface-opacity-08: rgba(48, 48, 48, 0.08);
$color-state-layers-inverse-on-surface-opacity-10: rgba(48, 48, 48, 0.1);
$color-state-layers-inverse-on-surface-opacity-16: rgba(48, 48, 48, 0.16);
$color-state-layers-inverse-primary-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-inverse-primary-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-inverse-primary-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-inverse-surface-opacity-08: rgba(226, 226, 226, 0.08);
$color-state-layers-inverse-surface-opacity-10: rgba(226, 226, 226, 0.1);
$color-state-layers-inverse-surface-opacity-16: rgba(226, 226, 226, 0.16);
$color-state-layers-on-background-opacity-08: rgba(230, 224, 233, 0.08);
$color-state-layers-on-background-opacity-10: rgba(230, 224, 233, 0.1);
$color-state-layers-on-background-opacity-16: rgba(230, 224, 233, 0.16);
$color-state-layers-on-error-opacity-08: rgba(96, 20, 16, 0.08);
$color-state-layers-on-error-opacity-10: rgba(96, 20, 16, 0.1);
$color-state-layers-on-error-opacity-16: rgba(96, 20, 16, 0.16);
$color-state-layers-on-error-container-opacity-08: rgba(242, 184, 181, 0.08);
$color-state-layers-on-error-container-opacity-10: rgba(242, 184, 181, 0.1);
$color-state-layers-on-error-container-opacity-16: rgba(242, 184, 181, 0.16);
$color-state-layers-on-primary-opacity-08: rgba(26, 28, 28, 0.08);
$color-state-layers-on-primary-opacity-10: rgba(26, 28, 28, 0.1);
$color-state-layers-on-primary-opacity-16: rgba(26, 28, 28, 0.16);
$color-state-layers-on-primary-container-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-on-primary-container-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-on-primary-container-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-on-primary-fixed-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-primary-fixed-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-primary-fixed-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-primary-fixed-variant-opacity-08: rgba(227, 226, 226, 0.08);
$color-state-layers-on-primary-fixed-variant-opacity-10: rgba(227, 226, 226, 0.1);
$color-state-layers-on-primary-fixed-variant-opacity-16: rgba(227, 226, 226, 0.16);
$color-state-layers-on-secondary-opacity-08: rgba(26, 28, 28, 0.08);
$color-state-layers-on-secondary-opacity-10: rgba(26, 28, 28, 0.1);
$color-state-layers-on-secondary-opacity-16: rgba(26, 28, 28, 0.16);
$color-state-layers-on-secondary-container-opacity-08: rgba(226, 226, 226, 0.08);
$color-state-layers-on-secondary-container-opacity-10: rgba(226, 226, 226, 0.1);
$color-state-layers-on-secondary-container-opacity-16: rgba(226, 226, 226, 0.16);
$color-state-layers-on-secondary-fixed-opacity-08: rgba(27, 28, 28, 0.08);
$color-state-layers-on-secondary-fixed-opacity-10: rgba(27, 28, 28, 0.1);
$color-state-layers-on-secondary-fixed-opacity-16: rgba(27, 28, 28, 0.16);
$color-state-layers-on-secondary-fixed-variant-opacity-08: rgba(59, 59, 60, 0.08);
$color-state-layers-on-secondary-fixed-variant-opacity-10: rgba(59, 59, 60, 0.1);
$color-state-layers-on-secondary-fixed-variant-opacity-16: rgba(59, 59, 60, 0.16);
$color-state-layers-on-surface-opacity-08: rgba(226, 226, 226, 0.08);
$color-state-layers-on-surface-opacity-10: rgba(226, 226, 226, 0.1);
$color-state-layers-on-surface-opacity-16: rgba(226, 226, 226, 0.16);
$color-state-layers-on-surface-variant-opacity-08: rgba(198, 198, 198, 0.08);
$color-state-layers-on-surface-variant-opacity-10: rgba(198, 198, 198, 0.1);
$color-state-layers-on-surface-variant-opacity-16: rgba(198, 198, 198, 0.16);
$color-state-layers-on-tertiary-opacity-08: rgba(26, 28, 28, 0.08);
$color-state-layers-on-tertiary-opacity-10: rgba(26, 28, 28, 0.1);
$color-state-layers-on-tertiary-opacity-16: rgba(26, 28, 28, 0.16);
$color-state-layers-on-tertiary-container-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-on-tertiary-container-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-on-tertiary-container-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-on-tertiary-fixed-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-tertiary-fixed-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-tertiary-fixed-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-tertiary-fixed-variant-opacity-08: rgba(227, 226, 226, 0.08);
$color-state-layers-on-tertiary-fixed-variant-opacity-10: rgba(227, 226, 226, 0.1);
$color-state-layers-on-tertiary-fixed-variant-opacity-16: rgba(227, 226, 226, 0.16);
$color-state-layers-outline-opacity-08: rgba(145, 145, 145, 0.08);
$color-state-layers-outline-opacity-10: rgba(145, 145, 145, 0.1);
$color-state-layers-outline-opacity-16: rgba(145, 145, 145, 0.16);
$color-state-layers-outline-variant-opacity-08: rgba(71, 71, 71, 0.08);
$color-state-layers-outline-variant-opacity-10: rgba(71, 71, 71, 0.1);
$color-state-layers-outline-variant-opacity-16: rgba(71, 71, 71, 0.16);
$color-state-layers-primary-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-primary-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-primary-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-primary-container-opacity-08: rgba(212, 212, 212, 0.08);
$color-state-layers-primary-container-opacity-10: rgba(212, 212, 212, 0.1);
$color-state-layers-primary-container-opacity-16: rgba(212, 212, 212, 0.16);
$color-state-layers-primary-fixed-opacity-08: rgba(94, 94, 94, 0.08);
$color-state-layers-primary-fixed-opacity-10: rgba(94, 94, 94, 0.1);
$color-state-layers-primary-fixed-opacity-16: rgba(94, 94, 94, 0.16);
$color-state-layers-primary-fixed-dim-opacity-08: rgba(71, 71, 71, 0.08);
$color-state-layers-primary-fixed-dim-opacity-10: rgba(71, 71, 71, 0.1);
$color-state-layers-primary-fixed-dim-opacity-16: rgba(71, 71, 71, 0.16);
$color-state-layers-scrim-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-scrim-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-scrim-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-secondary-opacity-08: rgba(198, 198, 198, 0.08);
$color-state-layers-secondary-opacity-10: rgba(198, 198, 198, 0.1);
$color-state-layers-secondary-opacity-16: rgba(198, 198, 198, 0.16);
$color-state-layers-secondary-container-opacity-08: rgba(71, 71, 71, 0.08);
$color-state-layers-secondary-container-opacity-10: rgba(71, 71, 71, 0.1);
$color-state-layers-secondary-container-opacity-16: rgba(71, 71, 71, 0.16);
$color-state-layers-secondary-fixed-opacity-08: rgba(198, 198, 198, 0.08);
$color-state-layers-secondary-fixed-opacity-10: rgba(198, 198, 198, 0.1);
$color-state-layers-secondary-fixed-opacity-16: rgba(198, 198, 198, 0.16);
$color-state-layers-secondary-fixed-dim-opacity-08: rgba(171, 171, 171, 0.08);
$color-state-layers-secondary-fixed-dim-opacity-10: rgba(171, 171, 171, 0.1);
$color-state-layers-secondary-fixed-dim-opacity-16: rgba(171, 171, 171, 0.16);
$color-state-layers-shadow-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-shadow-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-shadow-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-surface-opacity-08: rgba(19, 19, 19, 0.08);
$color-state-layers-surface-opacity-10: rgba(19, 19, 19, 0.1);
$color-state-layers-surface-opacity-16: rgba(19, 19, 19, 0.16);
$color-state-layers-surface-bright-opacity-08: rgba(57, 57, 57, 0.08);
$color-state-layers-surface-bright-opacity-10: rgba(57, 57, 57, 0.1);
$color-state-layers-surface-bright-opacity-16: rgba(57, 57, 57, 0.16);
$color-state-layers-surface-container-opacity-08: rgba(31, 31, 31, 0.08);
$color-state-layers-surface-container-opacity-10: rgba(31, 31, 31, 0.1);
$color-state-layers-surface-container-opacity-16: rgba(31, 31, 31, 0.16);
$color-state-layers-surface-container-high-opacity-08: rgba(42, 42, 42, 0.08);
$color-state-layers-surface-container-high-opacity-10: rgba(42, 42, 42, 0.1);
$color-state-layers-surface-container-high-opacity-16: rgba(42, 42, 42, 0.16);
$color-state-layers-surface-container-highest-opacity-08: rgba(53, 53, 53, 0.08);
$color-state-layers-surface-container-highest-opacity-10: rgba(53, 53, 53, 0.1);
$color-state-layers-surface-container-highest-opacity-16: rgba(53, 53, 53, 0.16);
$color-state-layers-surface-container-low-opacity-08: rgba(27, 27, 27, 0.08);
$color-state-layers-surface-container-low-opacity-10: rgba(27, 27, 27, 0.1);
$color-state-layers-surface-container-low-opacity-16: rgba(27, 27, 27, 0.16);
$color-state-layers-surface-container-lowest-opacity-08: rgba(14, 14, 14, 0.08);
$color-state-layers-surface-container-lowest-opacity-10: rgba(14, 14, 14, 0.1);
$color-state-layers-surface-container-lowest-opacity-16: rgba(14, 14, 14, 0.16);
$color-state-layers-surface-dim-opacity-08: rgba(19, 19, 19, 0.08);
$color-state-layers-surface-dim-opacity-10: rgba(19, 19, 19, 0.1);
$color-state-layers-surface-dim-opacity-16: rgba(19, 19, 19, 0.16);
$color-state-layers-surface-tint-opacity-08: rgba(232, 232, 232, 0.08);
$color-state-layers-surface-tint-opacity-10: rgba(232, 232, 232, 0.1);
$color-state-layers-surface-tint-opacity-16: rgba(232, 232, 232, 0.16);
$color-state-layers-surface-variant-opacity-08: rgba(71, 71, 71, 0.08);
$color-state-layers-surface-variant-opacity-10: rgba(71, 71, 71, 0.1);
$color-state-layers-surface-variant-opacity-16: rgba(71, 71, 71, 0.16);
$color-state-layers-tertiary-opacity-08: rgba(226, 226, 226, 0.08);
$color-state-layers-tertiary-opacity-10: rgba(226, 226, 226, 0.1);
$color-state-layers-tertiary-opacity-16: rgba(226, 226, 226, 0.16);
$color-state-layers-tertiary-container-opacity-08: rgba(145, 145, 145, 0.08);
$color-state-layers-tertiary-container-opacity-10: rgba(145, 145, 145, 0.1);
$color-state-layers-tertiary-container-opacity-16: rgba(145, 145, 145, 0.16);
$color-state-layers-tertiary-fixed-opacity-08: rgba(59, 59, 60, 0.08);
$color-state-layers-tertiary-fixed-opacity-10: rgba(59, 59, 60, 0.1);
$color-state-layers-tertiary-fixed-opacity-16: rgba(59, 59, 60, 0.16);
$color-state-layers-tertiary-fixed-dim-opacity-08: rgba(71, 71, 71, 0.08);
$color-state-layers-tertiary-fixed-dim-opacity-10: rgba(71, 71, 71, 0.1);
$color-state-layers-tertiary-fixed-dim-opacity-16: rgba(71, 71, 71, 0.16);
