$color-add-ons-section-background: #000000;
$color-schemes-background: #141218;
$color-schemes-error: #f2b8b5;
$color-schemes-error-container: #8c1d18;
$color-schemes-inverse-on-surface: #37333a;
$color-schemes-inverse-primary: #6b548d;
$color-schemes-inverse-surface: #e7e0e8;
$color-schemes-on-background: #e6e0e9;
$color-schemes-on-error: #601410;
$color-schemes-on-error-container: #f9dedc;
$color-schemes-on-primary: #3b255a;
$color-schemes-on-primary-container: #eddcff;
$color-schemes-on-primary-fixed: #250e44;
$color-schemes-on-primary-fixed-variant: #523c72;
$color-schemes-on-secondary: #352d40;
$color-schemes-on-secondary-container: #ebddf7;
$color-schemes-on-secondary-fixed: #20182a;
$color-schemes-on-secondary-fixed-variant: #4c4357;
$color-schemes-on-surface: #e7e0e8;
$color-schemes-on-surface-variant: #cbc4cf;
$color-schemes-on-tertiary: #4b252d;
$color-schemes-on-tertiary-container: #ffd9df;
$color-schemes-on-tertiary-fixed: #321019;
$color-schemes-on-tertiary-fixed-variant: #653a44;
$color-schemes-outline: #958e99;
$color-schemes-outline-variant: #4a454e;
$color-schemes-primary: #d6bbfb;
$color-schemes-primary-container: #523c73;
$color-schemes-primary-fixed: #d9bdfe;
$color-schemes-primary-fixed-dim: #bda2e1;
$color-schemes-scrim: #000000;
$color-schemes-secondary: #cec2da;
$color-schemes-secondary-container: #4c4357;
$color-schemes-secondary-fixed: #ebddf7;
$color-schemes-secondary-fixed-dim: #cfc1db;
$color-schemes-shadow: #000000;
$color-schemes-surface: #151218;
$color-schemes-surface-bright: #3b383e;
$color-schemes-surface-container: #211e24;
$color-schemes-surface-container-high: #2c292f;
$color-schemes-surface-container-highest: #37333a;
$color-schemes-surface-container-low: #1d1a20;
$color-schemes-surface-container-lowest: #100d12;
$color-schemes-surface-dim: #151218;
$color-schemes-surface-tint: #d6bbfb;
$color-schemes-surface-variant: #37333a;
$color-schemes-tertiary: #f2b7c2;
$color-schemes-tertiary-container: #653b43;
$color-schemes-tertiary-fixed: #fdc2cd;
$color-schemes-tertiary-fixed-dim: #dfa7b2;
$color-state-layers-background-opacity-08: rgba(20, 18, 24, 0.08);
$color-state-layers-background-opacity-10: rgba(20, 18, 24, 0.1);
$color-state-layers-background-opacity-16: rgba(20, 18, 24, 0.16);
$color-state-layers-error-opacity-08: rgba(242, 184, 181, 0.08);
$color-state-layers-error-opacity-10: rgba(242, 184, 181, 0.12);
$color-state-layers-error-opacity-16: rgba(242, 184, 181, 0.16);
$color-state-layers-error-container-opacity-08: rgba(140, 29, 24, 0.08);
$color-state-layers-error-container-opacity-10: rgba(140, 29, 24, 0.1);
$color-state-layers-error-container-opacity-16: rgba(140, 29, 24, 0.16);
$color-state-layers-inverse-on-surface-opacity-08: rgba(55, 51, 58, 0.08);
$color-state-layers-inverse-on-surface-opacity-10: rgba(55, 51, 58, 0.1);
$color-state-layers-inverse-on-surface-opacity-16: rgba(55, 51, 58, 0.16);
$color-state-layers-inverse-primary-opacity-08: rgba(107, 84, 141, 0.08);
$color-state-layers-inverse-primary-opacity-10: rgba(107, 84, 141, 0.1);
$color-state-layers-inverse-primary-opacity-16: rgba(107, 84, 141, 0.16);
$color-state-layers-inverse-surface-opacity-08: rgba(231, 224, 232, 0.08);
$color-state-layers-inverse-surface-opacity-10: rgba(231, 224, 232, 0.1);
$color-state-layers-inverse-surface-opacity-16: rgba(231, 224, 232, 0.16);
$color-state-layers-on-background-opacity-08: rgba(230, 224, 233, 0.08);
$color-state-layers-on-background-opacity-10: rgba(230, 224, 233, 0.1);
$color-state-layers-on-background-opacity-16: rgba(230, 224, 233, 0.16);
$color-state-layers-on-error-opacity-08: rgba(96, 20, 16, 0.08);
$color-state-layers-on-error-opacity-10: rgba(96, 20, 16, 0.1);
$color-state-layers-on-error-opacity-16: rgba(96, 20, 16, 0.16);
$color-state-layers-on-error-container-opacity-08: rgba(249, 222, 220, 0.08);
$color-state-layers-on-error-container-opacity-10: rgba(249, 222, 220, 0.1);
$color-state-layers-on-error-container-opacity-16: rgba(249, 222, 220, 0.16);
$color-state-layers-on-primary-opacity-08: rgba(59, 37, 90, 0.08);
$color-state-layers-on-primary-opacity-10: rgba(59, 37, 90, 0.1);
$color-state-layers-on-primary-opacity-16: rgba(59, 37, 90, 0.16);
$color-state-layers-on-primary-container-opacity-08: rgba(237, 220, 255, 0.08);
$color-state-layers-on-primary-container-opacity-10: rgba(237, 220, 255, 0.1);
$color-state-layers-on-primary-container-opacity-16: rgba(237, 220, 255, 0.16);
$color-state-layers-on-primary-fixed-opacity-08: rgba(37, 14, 68, 0.08);
$color-state-layers-on-primary-fixed-opacity-10: rgba(37, 14, 68, 0.1);
$color-state-layers-on-primary-fixed-opacity-16: rgba(37, 14, 68, 0.16);
$color-state-layers-on-primary-fixed-variant-opacity-08: rgba(82, 60, 114, 0.08);
$color-state-layers-on-primary-fixed-variant-opacity-10: rgba(82, 60, 114, 0.1);
$color-state-layers-on-primary-fixed-variant-opacity-16: rgba(82, 60, 114, 0.16);
$color-state-layers-on-secondary-opacity-08: rgba(53, 45, 64, 0.08);
$color-state-layers-on-secondary-opacity-10: rgba(53, 45, 64, 0.1);
$color-state-layers-on-secondary-opacity-16: rgba(53, 45, 64, 0.16);
$color-state-layers-on-secondary-container-opacity-08: rgba(235, 221, 247, 0.08);
$color-state-layers-on-secondary-container-opacity-10: rgba(235, 221, 247, 0.1);
$color-state-layers-on-secondary-container-opacity-16: rgba(235, 221, 247, 0.16);
$color-state-layers-on-secondary-fixed-opacity-08: rgba(32, 24, 42, 0.08);
$color-state-layers-on-secondary-fixed-opacity-10: rgba(32, 24, 42, 0.1);
$color-state-layers-on-secondary-fixed-opacity-16: rgba(32, 24, 42, 0.16);
$color-state-layers-on-secondary-fixed-variant-opacity-08: rgba(76, 67, 87, 0.08);
$color-state-layers-on-secondary-fixed-variant-opacity-10: rgba(76, 67, 87, 0.1);
$color-state-layers-on-secondary-fixed-variant-opacity-16: rgba(76, 67, 87, 0.16);
$color-state-layers-on-surface-opacity-08: rgba(231, 224, 232, 0.08);
$color-state-layers-on-surface-opacity-10: rgba(231, 224, 232, 0.1);
$color-state-layers-on-surface-opacity-16: rgba(231, 224, 232, 0.16);
$color-state-layers-on-surface-variant-opacity-08: rgba(203, 196, 207, 0.08);
$color-state-layers-on-surface-variant-opacity-10: rgba(203, 196, 207, 0.1);
$color-state-layers-on-surface-variant-opacity-16: rgba(203, 196, 207, 0.16);
$color-state-layers-on-tertiary-opacity-08: rgba(75, 37, 45, 0.08);
$color-state-layers-on-tertiary-opacity-10: rgba(75, 37, 45, 0.1);
$color-state-layers-on-tertiary-opacity-16: rgba(75, 37, 45, 0.16);
$color-state-layers-on-tertiary-container-opacity-08: rgba(255, 217, 223, 0.08);
$color-state-layers-on-tertiary-container-opacity-10: rgba(255, 217, 223, 0.1);
$color-state-layers-on-tertiary-container-opacity-16: rgba(255, 217, 223, 0.16);
$color-state-layers-on-tertiary-fixed-opacity-08: rgba(50, 16, 25, 0.08);
$color-state-layers-on-tertiary-fixed-opacity-10: rgba(50, 16, 25, 0.1);
$color-state-layers-on-tertiary-fixed-opacity-16: rgba(50, 16, 25, 0.16);
$color-state-layers-on-tertiary-fixed-variant-opacity-08: rgba(101, 58, 68, 0.08);
$color-state-layers-on-tertiary-fixed-variant-opacity-10: rgba(101, 58, 68, 0.1);
$color-state-layers-on-tertiary-fixed-variant-opacity-16: rgba(101, 58, 68, 0.16);
$color-state-layers-outline-opacity-08: rgba(149, 142, 153, 0.08);
$color-state-layers-outline-opacity-10: rgba(149, 142, 153, 0.1);
$color-state-layers-outline-opacity-16: rgba(149, 142, 153, 0.16);
$color-state-layers-outline-variant-opacity-08: rgba(74, 69, 78, 0.08);
$color-state-layers-outline-variant-opacity-10: rgba(74, 69, 78, 0.1);
$color-state-layers-outline-variant-opacity-16: rgba(74, 69, 78, 0.16);
$color-state-layers-primary-opacity-08: rgba(214, 187, 251, 0.08);
$color-state-layers-primary-opacity-10: rgba(214, 187, 251, 0.1);
$color-state-layers-primary-opacity-16: rgba(214, 187, 251, 0.16);
$color-state-layers-primary-container-opacity-08: rgba(82, 60, 115, 0.08);
$color-state-layers-primary-container-opacity-10: rgba(82, 60, 115, 0.1);
$color-state-layers-primary-container-opacity-16: rgba(82, 60, 115, 0.16);
$color-state-layers-primary-fixed-opacity-08: rgba(217, 189, 254, 0.08);
$color-state-layers-primary-fixed-opacity-10: rgba(217, 189, 254, 0.1);
$color-state-layers-primary-fixed-opacity-16: rgba(217, 189, 254, 0.16);
$color-state-layers-primary-fixed-dim-opacity-08: rgba(189, 162, 225, 0.08);
$color-state-layers-primary-fixed-dim-opacity-10: rgba(189, 162, 225, 0.1);
$color-state-layers-primary-fixed-dim-opacity-16: rgba(189, 162, 225, 0.16);
$color-state-layers-scrim-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-scrim-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-scrim-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-secondary-opacity-08: rgba(206, 194, 218, 0.08);
$color-state-layers-secondary-opacity-10: rgba(206, 194, 218, 0.1);
$color-state-layers-secondary-opacity-16: rgba(206, 194, 218, 0.16);
$color-state-layers-secondary-container-opacity-08: rgba(76, 67, 87, 0.08);
$color-state-layers-secondary-container-opacity-10: rgba(76, 67, 87, 0.1);
$color-state-layers-secondary-container-opacity-16: rgba(76, 67, 87, 0.16);
$color-state-layers-secondary-fixed-opacity-08: rgba(235, 221, 247, 0.08);
$color-state-layers-secondary-fixed-opacity-10: rgba(235, 221, 247, 0.1);
$color-state-layers-secondary-fixed-opacity-16: rgba(235, 221, 247, 0.16);
$color-state-layers-secondary-fixed-dim-opacity-08: rgba(207, 193, 219, 0.08);
$color-state-layers-secondary-fixed-dim-opacity-10: rgba(207, 193, 219, 0.12);
$color-state-layers-secondary-fixed-dim-opacity-16: rgba(207, 193, 219, 0.16);
$color-state-layers-shadow-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-shadow-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-shadow-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-surface-opacity-08: rgba(21, 18, 24, 0.08);
$color-state-layers-surface-opacity-10: rgba(21, 18, 24, 0.1);
$color-state-layers-surface-opacity-16: rgba(21, 18, 24, 0.16);
$color-state-layers-surface-bright-opacity-08: rgba(59, 56, 62, 0.08);
$color-state-layers-surface-bright-opacity-10: rgba(59, 56, 62, 0.1);
$color-state-layers-surface-bright-opacity-16: rgba(59, 56, 62, 0.16);
$color-state-layers-surface-container-opacity-08: rgba(33, 30, 36, 0.08);
$color-state-layers-surface-container-opacity-10: rgba(33, 30, 36, 0.1);
$color-state-layers-surface-container-opacity-16: rgba(33, 30, 36, 0.16);
$color-state-layers-surface-container-high-opacity-08: rgba(44, 41, 47, 0.08);
$color-state-layers-surface-container-high-opacity-10: rgba(44, 41, 47, 0.1);
$color-state-layers-surface-container-high-opacity-16: rgba(44, 41, 47, 0.16);
$color-state-layers-surface-container-highest-opacity-08: rgba(55, 51, 58, 0.08);
$color-state-layers-surface-container-highest-opacity-10: rgba(55, 51, 58, 0.12);
$color-state-layers-surface-container-highest-opacity-16: rgba(55, 51, 58, 0.16);
$color-state-layers-surface-container-low-opacity-08: rgba(29, 26, 32, 0.08);
$color-state-layers-surface-container-low-opacity-10: rgba(29, 26, 32, 0.1);
$color-state-layers-surface-container-low-opacity-16: rgba(29, 26, 32, 0.16);
$color-state-layers-surface-container-lowest-opacity-08: rgba(16, 13, 18, 0.08);
$color-state-layers-surface-container-lowest-opacity-10: rgba(16, 13, 18, 0.1);
$color-state-layers-surface-container-lowest-opacity-16: rgba(16, 13, 18, 0.16);
$color-state-layers-surface-dim-opacity-08: rgba(21, 18, 24, 0.08);
$color-state-layers-surface-dim-opacity-10: rgba(21, 18, 24, 0.1);
$color-state-layers-surface-dim-opacity-16: rgba(21, 18, 24, 0.16);
$color-state-layers-surface-tint-opacity-08: rgba(214, 187, 251, 0.08);
$color-state-layers-surface-tint-opacity-10: rgba(214, 187, 251, 0.1);
$color-state-layers-surface-tint-opacity-16: rgba(176, 198, 255, 0.16);
$color-state-layers-surface-variant-opacity-08: rgba(55, 51, 58, 0.08);
$color-state-layers-surface-variant-opacity-10: rgba(55, 51, 58, 0.1);
$color-state-layers-surface-variant-opacity-16: rgba(55, 51, 58, 0.16);
$color-state-layers-tertiary-opacity-08: rgba(242, 183, 194, 0.08);
$color-state-layers-tertiary-opacity-10: rgba(242, 183, 194, 0.1);
$color-state-layers-tertiary-opacity-16: rgba(242, 183, 194, 0.16);
$color-state-layers-tertiary-container-opacity-08: rgba(101, 59, 67, 0.08);
$color-state-layers-tertiary-container-opacity-10: rgba(101, 59, 67, 0.1);
$color-state-layers-tertiary-container-opacity-16: rgba(101, 59, 67, 0.16);
$color-state-layers-tertiary-fixed-opacity-08: rgba(253, 194, 205, 0.08);
$color-state-layers-tertiary-fixed-opacity-10: rgba(253, 194, 205, 0.1);
$color-state-layers-tertiary-fixed-opacity-16: rgba(253, 194, 205, 0.16);
$color-state-layers-tertiary-fixed-dim-opacity-08: rgba(223, 167, 178, 0.08);
$color-state-layers-tertiary-fixed-dim-opacity-10: rgba(223, 167, 178, 0.1);
$color-state-layers-tertiary-fixed-dim-opacity-16: rgba(223, 167, 178, 0.16);
