$color-add-ons-section-background: #f5f5f5;
$color-schemes-background: #fdf7ff;
$color-schemes-error: #b3261e;
$color-schemes-error-container: #f9dedc;
$color-schemes-inverse-on-surface: #fbeaeb;
$color-schemes-inverse-primary: #ffb2bd;
$color-schemes-inverse-surface: #312829;
$color-schemes-on-background: #1d1b20;
$color-schemes-on-error: #ffffff;
$color-schemes-on-error-container: #8c1d18;
$color-schemes-on-primary: #ffffff;
$color-schemes-on-primary-container: #72323f;
$color-schemes-on-primary-fixed: #3b0715;
$color-schemes-on-primary-fixed-variant: #72323f;
$color-schemes-on-secondary: #ffffff;
$color-schemes-on-secondary-container: #5c3f43;
$color-schemes-on-secondary-fixed: #2c1519;
$color-schemes-on-secondary-fixed-variant: #5c3f43;
$color-schemes-on-surface: #22191a;
$color-schemes-on-surface-variant: #524345;
$color-schemes-on-tertiary: #ffffff;
$color-schemes-on-tertiary-container: #5c4122;
$color-schemes-on-tertiary-fixed: #2b1700;
$color-schemes-on-tertiary-fixed-variant: #5c4122;
$color-schemes-outline: #847374;
$color-schemes-outline-variant: #d7c2c3;
$color-schemes-primary: #8f4a56;
$color-schemes-primary-container: #fda6b3;
$color-schemes-primary-fixed: #fda6b3;
$color-schemes-primary-fixed-dim: #de8c99;
$color-schemes-scrim: #000000;
$color-schemes-secondary: #76575b;
$color-schemes-secondary-container: #ffd5da;
$color-schemes-secondary-fixed: #ffd5da;
$color-schemes-secondary-fixed-dim: #e5bdc1;
$color-schemes-shadow: #000000;
$color-schemes-surface: #fff8f7;
$color-schemes-surface-bright: #fff8f7;
$color-schemes-surface-container: #fbeaeb;
$color-schemes-surface-container-high: #f6e4e5;
$color-schemes-surface-container-highest: #f0dedf;
$color-schemes-surface-container-low: #fff0f1;
$color-schemes-surface-container-lowest: #ffffff;
$color-schemes-surface-dim: #e7d6d7;
$color-schemes-surface-tint: #8f4a56;
$color-schemes-surface-variant: #f0dedf;
$color-schemes-tertiary: #7a5932;
$color-schemes-tertiary-container: #ffd2a1;
$color-schemes-tertiary-fixed: #ffd2a1;
$color-schemes-tertiary-fixed-dim: #e1b788;
$color-state-layers-background-opacity-08: rgba(253, 247, 255, 0.08);
$color-state-layers-background-opacity-10: rgba(253, 247, 255, 0.1);
$color-state-layers-background-opacity-16: rgba(253, 247, 255, 0.16);
$color-state-layers-error-opacity-08: rgba(179, 38, 30, 0.08);
$color-state-layers-error-opacity-10: rgba(179, 38, 30, 0.1);
$color-state-layers-error-opacity-16: rgba(179, 38, 30, 0.16);
$color-state-layers-error-container-opacity-08: rgba(249, 222, 220, 0.08);
$color-state-layers-error-container-opacity-10: rgba(249, 222, 220, 0.1);
$color-state-layers-error-container-opacity-16: rgba(249, 222, 220, 0.16);
$color-state-layers-inverse-on-surface-opacity-08: rgba(251, 234, 235, 0.08);
$color-state-layers-inverse-on-surface-opacity-10: rgba(251, 234, 235, 0.1);
$color-state-layers-inverse-on-surface-opacity-16: rgba(251, 234, 235, 0.16);
$color-state-layers-inverse-primary-opacity-08: rgba(255, 178, 189, 0.08);
$color-state-layers-inverse-primary-opacity-10: rgba(255, 178, 189, 0.1);
$color-state-layers-inverse-primary-opacity-16: rgba(255, 178, 189, 0.16);
$color-state-layers-inverse-surface-opacity-08: rgba(49, 40, 41, 0.08);
$color-state-layers-inverse-surface-opacity-10: rgba(49, 40, 41, 0.1);
$color-state-layers-inverse-surface-opacity-16: rgba(49, 40, 41, 0.16);
$color-state-layers-on-background-opacity-08: rgba(29, 27, 32, 0.08);
$color-state-layers-on-background-opacity-10: rgba(29, 27, 32, 0.1);
$color-state-layers-on-background-opacity-16: rgba(29, 27, 32, 0.16);
$color-state-layers-on-error-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-error-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-error-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-error-container-opacity-08: rgba(140, 29, 24, 0.08);
$color-state-layers-on-error-container-opacity-10: rgba(140, 29, 24, 0.1);
$color-state-layers-on-error-container-opacity-16: rgba(140, 29, 24, 0.16);
$color-state-layers-on-primary-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-primary-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-primary-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-primary-container-opacity-08: rgba(114, 50, 63, 0.08);
$color-state-layers-on-primary-container-opacity-10: rgba(114, 50, 63, 0.1);
$color-state-layers-on-primary-container-opacity-16: rgba(114, 50, 63, 0.16);
$color-state-layers-on-primary-fixed-opacity-08: rgba(59, 7, 21, 0.08);
$color-state-layers-on-primary-fixed-opacity-10: rgba(59, 7, 21, 0.1);
$color-state-layers-on-primary-fixed-opacity-16: rgba(59, 7, 21, 0.16);
$color-state-layers-on-primary-fixed-variant-opacity-08: rgba(114, 50, 63, 0.08);
$color-state-layers-on-primary-fixed-variant-opacity-10: rgba(114, 50, 63, 0.1);
$color-state-layers-on-primary-fixed-variant-opacity-16: rgba(114, 50, 63, 0.16);
$color-state-layers-on-secondary-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-secondary-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-secondary-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-secondary-container-opacity-08: rgba(92, 63, 67, 0.08);
$color-state-layers-on-secondary-container-opacity-10: rgba(92, 63, 67, 0.1);
$color-state-layers-on-secondary-container-opacity-16: rgba(92, 63, 67, 0.16);
$color-state-layers-on-secondary-fixed-opacity-08: rgba(44, 21, 25, 0.08);
$color-state-layers-on-secondary-fixed-opacity-10: rgba(44, 21, 25, 0.1);
$color-state-layers-on-secondary-fixed-opacity-16: rgba(44, 21, 25, 0.16);
$color-state-layers-on-secondary-fixed-variant-opacity-08: rgba(92, 63, 67, 0.08);
$color-state-layers-on-secondary-fixed-variant-opacity-10: rgba(92, 63, 67, 0.1);
$color-state-layers-on-secondary-fixed-variant-opacity-16: rgba(92, 63, 67, 0.16);
$color-state-layers-on-surface-opacity-08: rgba(34, 25, 26, 0.08);
$color-state-layers-on-surface-opacity-10: rgba(34, 25, 26, 0.1);
$color-state-layers-on-surface-opacity-16: rgba(34, 25, 26, 0.16);
$color-state-layers-on-surface-variant-opacity-08: rgba(82, 67, 69, 0.08);
$color-state-layers-on-surface-variant-opacity-10: rgba(82, 67, 69, 0.1);
$color-state-layers-on-surface-variant-opacity-16: rgba(82, 67, 69, 0.16);
$color-state-layers-on-tertiary-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-on-tertiary-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-on-tertiary-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-on-tertiary-container-opacity-08: rgba(92, 65, 34, 0.08);
$color-state-layers-on-tertiary-container-opacity-10: rgba(92, 65, 34, 0.1);
$color-state-layers-on-tertiary-container-opacity-16: rgba(92, 65, 34, 0.16);
$color-state-layers-on-tertiary-fixed-opacity-08: rgba(43, 23, 0, 0.08);
$color-state-layers-on-tertiary-fixed-opacity-10: rgba(43, 23, 0, 0.1);
$color-state-layers-on-tertiary-fixed-opacity-16: rgba(43, 23, 0, 0.16);
$color-state-layers-on-tertiary-fixed-variant-opacity-08: rgba(92, 65, 34, 0.08);
$color-state-layers-on-tertiary-fixed-variant-opacity-10: rgba(92, 65, 34, 0.1);
$color-state-layers-on-tertiary-fixed-variant-opacity-16: rgba(92, 65, 34, 0.16);
$color-state-layers-outline-opacity-08: rgba(132, 115, 116, 0.08);
$color-state-layers-outline-opacity-10: rgba(132, 115, 116, 0.1);
$color-state-layers-outline-opacity-16: rgba(132, 115, 116, 0.16);
$color-state-layers-outline-variant-opacity-08: rgba(215, 194, 195, 0.08);
$color-state-layers-outline-variant-opacity-10: rgba(215, 194, 195, 0.1);
$color-state-layers-outline-variant-opacity-16: rgba(215, 194, 195, 0.16);
$color-state-layers-primary-opacity-08: rgba(143, 74, 86, 0.08);
$color-state-layers-primary-opacity-10: rgba(143, 74, 86, 0.1);
$color-state-layers-primary-opacity-16: rgba(143, 74, 86, 0.16);
$color-state-layers-primary-container-opacity-08: rgba(253, 166, 179, 0.08);
$color-state-layers-primary-container-opacity-10: rgba(253, 166, 179, 0.1);
$color-state-layers-primary-container-opacity-16: rgba(253, 166, 179, 0.16);
$color-state-layers-primary-fixed-opacity-08: rgba(253, 166, 179, 0.08);
$color-state-layers-primary-fixed-opacity-10: rgba(253, 166, 179, 0.1);
$color-state-layers-primary-fixed-opacity-16: rgba(253, 166, 179, 0.16);
$color-state-layers-primary-fixed-dim-opacity-08: rgba(222, 140, 153, 0.08);
$color-state-layers-primary-fixed-dim-opacity-10: rgba(222, 140, 153, 0.1);
$color-state-layers-primary-fixed-dim-opacity-16: rgba(222, 140, 153, 0.16);
$color-state-layers-scrim-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-scrim-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-scrim-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-secondary-opacity-08: rgba(118, 87, 91, 0.08);
$color-state-layers-secondary-opacity-10: rgba(118, 87, 91, 0.1);
$color-state-layers-secondary-opacity-16: rgba(118, 87, 91, 0.16);
$color-state-layers-secondary-container-opacity-08: rgba(255, 213, 218, 0.08);
$color-state-layers-secondary-container-opacity-10: rgba(255, 213, 218, 0.1);
$color-state-layers-secondary-container-opacity-16: rgba(255, 213, 218, 0.16);
$color-state-layers-secondary-fixed-opacity-08: rgba(255, 213, 218, 0.08);
$color-state-layers-secondary-fixed-opacity-10: rgba(255, 213, 218, 0.1);
$color-state-layers-secondary-fixed-opacity-16: rgba(255, 213, 218, 0.16);
$color-state-layers-secondary-fixed-dim-opacity-08: rgba(229, 189, 193, 0.08);
$color-state-layers-secondary-fixed-dim-opacity-10: rgba(229, 189, 193, 0.1);
$color-state-layers-secondary-fixed-dim-opacity-16: rgba(229, 189, 193, 0.16);
$color-state-layers-shadow-opacity-08: rgba(0, 0, 0, 0.08);
$color-state-layers-shadow-opacity-10: rgba(0, 0, 0, 0.1);
$color-state-layers-shadow-opacity-16: rgba(0, 0, 0, 0.16);
$color-state-layers-surface-opacity-08: rgba(255, 248, 247, 0.08);
$color-state-layers-surface-opacity-10: rgba(255, 248, 247, 0.1);
$color-state-layers-surface-opacity-16: rgba(255, 248, 247, 0.16);
$color-state-layers-surface-bright-opacity-08: rgba(255, 248, 247, 0.08);
$color-state-layers-surface-bright-opacity-10: rgba(255, 248, 247, 0.1);
$color-state-layers-surface-bright-opacity-16: rgba(255, 248, 247, 0.16);
$color-state-layers-surface-container-opacity-08: rgba(251, 234, 235, 0.08);
$color-state-layers-surface-container-opacity-10: rgba(251, 234, 235, 0.1);
$color-state-layers-surface-container-opacity-16: rgba(251, 234, 235, 0.16);
$color-state-layers-surface-container-high-opacity-08: rgba(246, 228, 229, 0.08);
$color-state-layers-surface-container-high-opacity-10: rgba(246, 228, 229, 0.1);
$color-state-layers-surface-container-high-opacity-16: rgba(246, 228, 229, 0.16);
$color-state-layers-surface-container-highest-opacity-08: rgba(240, 222, 223, 0.08);
$color-state-layers-surface-container-highest-opacity-10: rgba(240, 222, 223, 0.1);
$color-state-layers-surface-container-highest-opacity-16: rgba(240, 222, 223, 0.16);
$color-state-layers-surface-container-low-opacity-08: rgba(255, 240, 241, 0.08);
$color-state-layers-surface-container-low-opacity-10: rgba(255, 240, 241, 0.1);
$color-state-layers-surface-container-low-opacity-16: rgba(255, 240, 241, 0.16);
$color-state-layers-surface-container-lowest-opacity-08: rgba(255, 255, 255, 0.08);
$color-state-layers-surface-container-lowest-opacity-10: rgba(255, 255, 255, 0.1);
$color-state-layers-surface-container-lowest-opacity-16: rgba(255, 255, 255, 0.16);
$color-state-layers-surface-dim-opacity-08: rgba(231, 214, 215, 0.08);
$color-state-layers-surface-dim-opacity-10: rgba(231, 214, 215, 0.1);
$color-state-layers-surface-dim-opacity-16: rgba(231, 214, 215, 0.16);
$color-state-layers-surface-tint-opacity-08: rgba(143, 74, 86, 0.08);
$color-state-layers-surface-tint-opacity-10: rgba(143, 74, 86, 0.1);
$color-state-layers-surface-tint-opacity-16: rgba(143, 74, 86, 0.16);
$color-state-layers-surface-variant-opacity-08: rgba(240, 222, 223, 0.08);
$color-state-layers-surface-variant-opacity-10: rgba(240, 222, 223, 0.1);
$color-state-layers-surface-variant-opacity-16: rgba(240, 222, 223, 0.16);
$color-state-layers-tertiary-opacity-08: rgba(122, 89, 50, 0.08);
$color-state-layers-tertiary-opacity-10: rgba(122, 89, 50, 0.1);
$color-state-layers-tertiary-opacity-16: rgba(122, 89, 50, 0.16);
$color-state-layers-tertiary-container-opacity-08: rgba(255, 210, 161, 0.08);
$color-state-layers-tertiary-container-opacity-10: rgba(255, 210, 161, 0.1);
$color-state-layers-tertiary-container-opacity-16: rgba(255, 210, 161, 0.16);
$color-state-layers-tertiary-fixed-opacity-08: rgba(255, 210, 161, 0.08);
$color-state-layers-tertiary-fixed-opacity-10: rgba(255, 210, 161, 0.1);
$color-state-layers-tertiary-fixed-opacity-16: rgba(255, 210, 161, 0.16);
$color-state-layers-tertiary-fixed-dim-opacity-08: rgba(225, 183, 136, 0.08);
$color-state-layers-tertiary-fixed-dim-opacity-10: rgba(225, 183, 136, 0.1);
$color-state-layers-tertiary-fixed-dim-opacity-16: rgba(225, 183, 136, 0.16);
